{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Nucleo.fi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'nc/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'nc/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'nc/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'nc/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'nc/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'nc/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'nc/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'nc/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'nc/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'nc/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'nc/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'nc/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'nc/images/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'nc/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch-theme-algolia.min.css">

    <link rel="stylesheet" type="text/css" href='{% static 'base.css' %}'>
    <link rel="stylesheet" href='{% static 'ladda-bootstrap/css/ladda-themeless.min.css' %}'>

    <script type="text/javascript" src='{% static 'stellar-sdk/stellar-sdk.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'js-cookie/src/js.cookie.js' %}'></script>
    <script src='{% static 'moment/min/moment.min.js' %}'></script>
    <script src='{% static 'moment-timezone/builds/moment-timezone-with-data-2012-2022.min.js' %}'></script>
    <script src='{% static 'numeral/min/numeral.min.js' %}'></script>
    <script src='{% static 'bignumber.js/bignumber.min.js' %}'></script>
    <script src='{% static 'ladda-bootstrap/js/spin.min.js' %}'></script>
    <script src='{% static 'ladda-bootstrap/js/ladda.min.js' %}'></script>
    <script src='{% static 'lodash/js/lodash.min.js' %}'></script>
    <script src='{% static 'webpack_bundles/main.js' %}'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4"></script>
    <script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>

    <script>
      /* JS constants */
      /** Stellar constants **/
      const STELLAR_TESTNET_SERVER_URL = 'https://horizon-testnet.stellar.org',
            STELLAR_MAINNET_SERVER_URL = 'https://horizon.stellar.org',
            STELLAR_BASE_FEE = 0.00001,
            STELLAR_BASE_RESERVE = 0.5; // NOTE: both base vals in XLM units

      {% if debug %}
      const STELLAR_NETWORK_TYPE = 'TESTNET';
      const STELLAR_SERVER_URL = STELLAR_TESTNET_SERVER_URL;
      {% else %}
      const STELLAR_NETWORK_TYPE = 'PUBLIC';
      const STELLAR_SERVER_URL = STELLAR_MAINNET_SERVER_URL;
      {% endif %}
      const STELLAR_OPERATION_CREATE_ACCOUNT = 0,
            STELLAR_OPERATION_PAYMENT = 1,
            STELLAR_OPERATION_PATH_PAYMENT = 2,
            STELLAR_OPERATION_MANAGE_OFFER = 3,
            STELLAR_OPERATION_CREATE_PASSIVE_OFFER = 4,
            STELLAR_OPERATION_SET_OPTIONS = 5,
            STELLAR_OPERATION_CHANGE_TRUST = 6,
            STELLAR_OPERATION_ALLOW_TRUST = 7,
            STELLAR_OPERATION_ACCOUNT_MERGE = 8,
            STELLAR_OPERATION_INFLATION = 9,
            STELLAR_OPERATION_MANAGE_DATA = 10;
      const STELLAR_MEMO_TEXT_BYTE_MAX = 28;

      /** StellarExpert constants **/
      {% if debug %}
      const STELLAR_EXPERT_URL = 'https://stellar.expert/explorer/testnet';
      {% else %}
      const STELLAR_EXPERT_URL = 'https://stellar.expert/explorer/public';
      {% endif %}
      const STELLAR_EXPERT_ACCOUNT_URL = STELLAR_EXPERT_URL + '/account/',
            STELLAR_EXPERT_TRANSACTION_URL = STELLAR_EXPERT_URL + '/tx/';

      /** StellarTerm constants **/
      const STELLARTERM_TICKER_URL = 'https://api.stellarterm.com/v1/ticker.json',
            STELLARTERM_TICKER_MAX_ATTEMPTS = 60;
    </script>

    {% block head %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    {% block meta %}{% endblock %}
    {% block refresh %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% block content %}{% endblock %}
  {# webpack.utils.js must be first for globals #}
  <script src="{% static 'nc/scripts/webpack.utils.js' %}"></script>
  <script src="{% static 'nc/scripts/ajax.js' %}"></script>
  <script src="{% static 'nc/scripts/ledger.js' %}"></script>
  <script src="{% static 'nc/scripts/ledger.utils.js' %}"></script>
  <script src="{% static 'nc/scripts/stellar.js' %}"></script>
  <script src="{% static 'nc/scripts/stellarguard.js' %}"></script>
  <script src="{% static 'nc/scripts/stellar.utils.js' %}"></script>
  <script src="{% static 'nc/scripts/utils.js' %}"></script>
  {% block script %}{% endblock %}
</body>

</html>
