{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'index.css' %}' />
{% endblock %}

{% block title %}Nucleo | Generate Lumens{% endblock %}


{% block content %}
<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
    <nav class="navbar navbar-dark fixed-top flex-nowrap">
      <a href="{% url 'home' %}" class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img src="{% static 'nc/images/logo-text-align-left.png' %}" alt="" width="auto" height="40">
      </a>
      <div class="btn-group pr-2">
        <button type="button" class="btn btn-dark navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span data-feather="activity"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto; margin-right: 17px;">
          <a class="dropdown-item" href="{% url 'nc:leaderboard-redirect' %}">
            <span data-feather="award"></span>
            Leaderboard
          </a>
          <a class="dropdown-item" href="{% url 'nc:trade-redirect' %}">
            <span data-feather="trending-up"></span>
            Trade
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account_login' %}">Log in</a>
          <a class="dropdown-item" href="{% url 'account_signup' %}">Sign up</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<main role="main" class="pb-sm-5 pb-3">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading font-weight-bold">Generate Lumens</h1>
      <p class="lead pt-1" style="color: #ccc;">
        Social banking on the Stellar network.
      </p>
      <p>
        <a href="{% url 'account_login' %}" class="btn btn-lg btn-primary my-3">Get started</a>
      </p>
    </div>
  </section>

  <div class="d-flex justify-content-center align-items-center px-3" style="margin-top: -75px;">
    <div class="card w-100" style="max-width: 600px;">
      <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
        <h5>Today's Top Portfolios On Nucleo</h5>
      </div>
      <div class="card-body card-leaderboard p-0">
        <ol class="list-group">
          {% for u in user_list %}
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'nc:user-detail' u.username %}" class="list-group-item list-group-item-action p-0 border-0">
              <div class="d-inline-flex justify-content-start align-items-center">
                <span class="badge badge-white mr-2">{{ forloop.counter }}</span>
                <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 60px; width: 60px;"{% if u.profile.pic %} src="{{ u.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
                <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                  <strong>{{ u.get_full_name }}</strong>
                  <small class="text-muted">@{{ u.username }}</small>
                  <small>
                    {% for a in u.assets_trusting.all %}
                    <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
                    {% endfor %}
                  </small>
                </div>
              </div>
            </a>
            <div class="py-1">
              {% with u.profile.portfolio|get_attribute:'usd_value' as display_val %}
              {% with u.profile.portfolio|get_attribute:'performance_1d' as performance %}
              <button type="button" title="Portfolio Value" {% if performance and display_val >= 0 %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topportfolios btn-usd_value"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topportfolios btn-usd_value"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topportfolios btn-usd_value"{% endif %}>
                {% if u.profile.is_private %}
                <span data-feather="lock"></span>
                {% else %}
                {% if display_val >= 0 %}${{ display_val|floatformat:2|intcomma }}{% else %}-{% endif %}
                {% endif %}
              </button>
              {% if performance != None %}
              <button type="button" title="Performance" {% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topportfolios btn-performance_1d"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topportfolios btn-performance_1d"{% else %}class="d-none btn btn-sm btn-secondary btn-topportfolios btn-performance_1d"{% endif %}>
                {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
              </button>
              {% endif %}
              {% endwith %}
              {% endwith %}
            </div>
          </div>
          {% endfor %}
        </ol>
      </div>
      <div class="card-footer border-0 d-flex justify-content-start align-items-center">
        <a href="{% url 'nc:leaderboard-redirect' %}">View More Leaders</a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center px-3 py-4">
    <div class="card w-100" style="max-width: 600px;">
      <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
        <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
          <h5>Today's Top Assets On Stellar</h5>
        </div>
      </div>
      <div class="card-body card-leaderboard p-0">
        <ol class="list-group">
          {% for a in asset_list %}
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'nc:asset-detail' a.asset_id %}" class="list-group-item list-group-item-action p-0 border-0">
              <div class="d-inline-flex justify-content-start align-items-center">
                <span class="badge badge-white mr-2">{{ forloop.counter }}</span>
                <img class="img-object-fit-cover img-thumbnail rounded-circle flex-auto" style="height: 50px; width: 50px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
                <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                  <strong>{{ a.code }}</strong>
                  <small class="text-muted">{% if a.domain %}{{ a.domain }}{% endif %}</small>
                </div>
              </div>
            </a>
            <div class="asset-ticker py-1">
              <button type="button" title="StellarTerm Activity Score" class="d-none btn btn-sm btn-warning btn-topassets btn-activityScore">
                <span data-feather="star"></span>
                {{ a.activityScore }}
              </button>
              {% with a|get_attribute:'price_USD' as display_val %}
              {% with a|get_attribute:'change24h_USD' as performance %}
              <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_USD"{% endif %}>
                {% if display_val != None %}${{ display_val|intcomma }}{% else %}-{% endif %}
              </button>
              <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_USD"{% endif %}>
                {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
              </button>
              {% endwith %}
              {% endwith %}
            </div>
          </div>
          {% endfor %}
        </ol>
      </div>
      <div class="card-footer border-0 d-flex justify-content-start align-items-center">
        <a href="{% url 'nc:trade-redirect' %}">View More Assets</a>
      </div>
    </div>
  </div>

</main>

{% endblock %}


{% block script %}
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<script>
  var CURRENT_ASSET_DISPLAY = "{{ asset_display }}",
      CURRENT_PORTFOLIO_DISPLAY = "{{ portfolio_display }}";

  const ALLOWED_ASSET_DISPLAYS = [
          {% for d in allowed_asset_displays %}
          "{{ d }}",
          {% endfor %}
        ],
        ALLOWED_PORTFOLIO_DISPLAYS = [
          {% for d in allowed_portfolio_displays %}
          "{{ d }}",
          {% endfor %}
        ];
</script>
<script src="{% static 'nc/scripts/index.js' %}"></script>
{% endblock %}
