{% extends "base.html" %}
{% load static %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'index.css' %}' />
{% endblock %}

{% block title %}Nucleo | Generate Lumens{% endblock %}


{% block content %}
<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
    <nav class="navbar navbar-dark fixed-top border-bottom border-dark box-shadow">
      <a class="navbar-brand"><img src="{% static 'nc/images/logo-text-align-left.png' %}" alt="" width="auto" height="45"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item m-2">
            <a class="btn btn-outline-success" href="{% url 'nc:trade-redirect' %}">
              <span data-feather="trending-up"></span>
              Trade Assets
            </a>
          </li>
          <li class="nav-item m-2">
            <a class="btn btn-outline-warning" href="{% url 'nc:leaderboard-redirect' %}">
              <span data-feather="award"></span>
              Check Leaderboard
            </a>
          </li>
          <li class="nav-item m-2">
            <a class="btn btn-outline-secondary" href="{% url 'account_login' %}">Log in</a>
            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading font-weight-bold">Generate Lumens</h1>
      <p class="lead pt-1" style="color: #ccc;">
        Social banking on the Stellar network.
      </p>
      <p>
        <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary my-3">Get started</a>
      </p>
    </div>
  </section>

</main>

<footer class="text-muted">
  <div class="container"></div>
</footer>
{% endblock %}


{% block script %}
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
{% endblock %}
