{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_update.css' %}' />
{% endblock %}

{% block title %}Remove Account | Nucleo{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-3 border-bottom">
  <h1 class="h2">Remove Account</h1>
</div>
<div class="d-flex flex-wrap mx-4 mt-4 mb-0">
  <h5 class="text-secondary">{{ object.public_key|truncatechars:13 }}{{ object.public_key|slice:"-10:" }}</h5>
</div>
<form class="form-update" method="POST" enctype="multipart/form-data" action="{% url 'nc:account-delete' object.public_key %}">
  {% csrf_token %}
  <h6 class="p-2">Are you sure you want to remove this account from your Nucleo profile?</h6>
  <div class="my-4">
    <a href="{% url 'nc:user-redirect' %}" class="btn btn-secondary m-1">Cancel</a>
    <button class="btn btn-danger m-1" type="submit">Remove Account</button>
  </div>
</form>
{% endblock %}


{% block nc_script %}
{% endblock %}
