{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_follow_list.css' %}' />
{% endblock %}

{% block title %}{% if object.name %}{{ object.name }}: {% endif %}Recent Account Activity | Nucleo{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 class="h2">Recent Activity</h1>
</div>

<div class="d-flex flex-wrap mx-4 mt-4 mb-0">
  <h5 class="text-secondary">{{ object.public_key|truncatechars:13 }}{{ object.public_key|slice:"-10:" }}</h5>
</div>

<ul class="list-group">
  {{ object }}
  {{ records }}
</ul>

<div class="pagination mt-2">
    <span class="step-links">
    </span>
</div>
{% endblock %}


{% block nc_script %}
{% endblock %}
