{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile.css' %}' />
{% endblock %}

{% block title %}Nucleo | {{ object.code }}: Issued by {% if is_native %}Stellar Network{% else %}{{ object.issuer_address|truncatechars:8 }}{{ object.issuer_address|slice:"-5:" }}{% if object.issuer %} (@{{ object.issuer.user.username }}){% endif %}{% endif %}{% endblock %}

{% block main %}
<div class="card mb-4 box-shadow">
  {% if is_native %}
  <img class="card-img-top img-object-fit-cover border-bottom" style="height: 300px; width: 100%; display: block;" src="{% static 'nc/images/wireframe-dotted-world.svg' %}" alt="">
  <img class="card-img-top rounded-circle img-thumbnail img-object-fit-cover ml-3" style="height: 100px; width: 100px; margin-top: -50px;" src="{% static 'nc/images/rocket.png' %}" alt="">
    <div class="card-body">
      <h2 class="text-info">XLM <button id="assetVerified" type="button" class="btn bg-white p-1 text-success" title="Verified asset"><span data-feather="check-circle"></span> <small>Verified</small></button></h2>
      <h5 class="text-secondary">
        Stellar Network
      </h5>
      <p class="card-text">
        Native Lumens
      </p>
      <p class="card-text">
        <div class="d-flex flex-column asset-ticker" data-asset_id="{{ object.asset_id }}" style="display: none;">
          <div>
            <strong class="h4 asset-price-xlm"></strong>
            <span class="asset-price-xlm-change"></span>
          </div>
          <div>
            <span class="asset-price-usd text-muted"></span>
            <small class="asset-price-usd-change"></small>
          </div>
        </div>
      </p>
      <div class="d-flex flex-wrap justify-content-between align-items-end">
        <div class="py-1 d-flex flex-column align-items-start justify-content-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary active">
              <span data-feather="shield"></span>
              Trusted
            </button>
          </div>
          {% if trusters_count > 0 %}
          <div class="mt-2">
            <small class="text-muted">
              Trusted by
              {% if trusters_user_follows_teaser_count > 0 %}
              {% for u in trusters_user_follows_teaser %}
              <a href="{% url 'nc:user-detail' u.username %}" class="text-dark font-weight-bold">@{{ u.username }}</a>{% if forloop.counter < trusters_user_follows_teaser_count %}, {% endif %}
              {% endfor %}
              {% if trusters_teaser_more_count %}
              and <a href="{% url 'nc:asset-trusted-by-list' object.asset_id %}" class="text-dark font-weight-bold">{{ trusters_teaser_more_count }} other{% if trusters_teaser_more_count > 1 %}s{% endif %}</a>
              {% endif %}
              {% else %}
              <a href="{% url 'nc:asset-trusted-by-list' object.asset_id %}" class="text-dark font-weight-bold">{{ trusters_teaser_more_count }} user{% if trusters_teaser_more_count > 1 %}s{% endif %}</a>
              {% endif %}
            </small>
          </div>
          {% endif %}
        </div>
        <div class="btn-group asset-ticker py-1" data-asset_id="{{ object.asset_id }}" style="display: none;">
          <a href="{% url 'nc:asset-top-list' %}" title="StellarTerm Activity Score" class="btn btn-sm btn-warning btn-asset-score" style="display: none;">
            <span data-feather="star"></span>
            <span class="asset-score">100</span>
          </a>
        </div>
      </div>
    </div>
  {% else %}
  <img class="card-img-top img-object-fit-cover border-bottom" style="height: 300px; width: 100%; display: block;"{% if object.cover %} src="{{ object.cover.url }}"{% endif %} alt="">
  <img class="card-img-top rounded-circle img-thumbnail img-object-fit-cover ml-3" style="height: 100px; width: 100px; margin-top: -50px;"{% if object.pic %} src="{{ object.pic.url }}"{% elif object.toml_pic %} src="{{ object.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
    <div class="card-body">
      <h2>
        {{ object.code }}
        {% if object.verified %}
         <button id="assetVerified" type="button" class="btn bg-white p-1 text-success" title="Verified asset"><span data-feather="check-circle"></span> <small>Verified</small></button>
        {% elif object.issuer and object.issuer.user.id == request.user.id %}
         <button id="assetVerified" type="button" class="btn btn-sm m-1 btn-outline-danger" data-toggle="tooltip" data-placement="top" {% if object.domain %}title="Upload a stellar.toml file to https://{{ object.domain }}/.well-known/stellar.toml"{% else %}title="Upload a stellar.toml file to your home domain"{% endif %}><span data-feather="alert-octagon"></span> Verify asset</button>
        {% else %}
         <button id="assetVerified" type="button" class="btn bg-white p-1 text-danger" title="Unverified asset"><span data-feather="alert-octagon"></span> <small>Unverified</small></button>
        {% endif %}
      </h2>
      <h5 class="text-secondary">
        {% if object.domain %}<a class="text-secondary" href="https://{{ object.domain }}" target="_blank">{{ object.domain }}</a>{% endif %}
      </h5>
      <p class="card-text text-muted">
        Issuer: <a href="{{ asset_issuer_stellar_href }}" title="{{ object.issuer_address }}" class="text-dark" target="_blank">{{ object.issuer_address|truncatechars:10 }}{{ object.issuer_address|slice:"-7:" }}</a>{% if object.issuer %} (<a href="{% url 'nc:user-detail' object.issuer.user.username %}">@{{ object.issuer.user.username }}</a>){% endif %}
      </p>
      <p class="card-text">
        <div class="d-flex flex-column asset-ticker" data-asset_id="{{ object.asset_id }}" style="display: none;">
          <div>
            <strong class="h4 asset-price-xlm"></strong>
            <span class="asset-price-xlm-change"></span>
          </div>
          <div>
            <span class="asset-price-usd text-muted"></span>
          </div>
        </div>
      </p>
      <div class="d-flex flex-wrap justify-content-between align-items-end">
        <div class="py-1 d-flex flex-column align-items-start justify-content-center">
          <div>
            <a href="{% url 'nc:asset-trust-list' object.asset_id %}" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="An asset must be trusted before it can be traded">
              <span data-feather="shield"></span>
              Change Trust
            </a>
            {% if object.issuer and object.issuer.user.id == request.user.id %}
            <a href="{% url 'nc:asset-update' object.asset_id %}" class="btn btn-sm btn-outline-secondary">
              <span data-feather="edit"></span>
              Edit Asset
            </a>
            {% endif %}
          </div>
          {% if trusters_count > 0 %}
          <div class="mt-2">
            <small class="text-muted">
              Trusted by
              {% if trusters_user_follows_teaser_count > 0 %}
              {% for u in trusters_user_follows_teaser %}
              <a href="{% url 'nc:user-detail' u.username %}" class="text-dark font-weight-bold">@{{ u.username }}</a>{% if forloop.counter < trusters_user_follows_teaser_count %}, {% endif %}
              {% endfor %}
              {% if trusters_teaser_more_count %}
              and <a href="{% url 'nc:asset-trusted-by-list' object.asset_id %}" class="text-dark font-weight-bold">{{ trusters_teaser_more_count }} other{% if trusters_teaser_more_count > 1 %}s{% endif %}</a>
              {% endif %}
              {% else %}
              <a href="{% url 'nc:asset-trusted-by-list' object.asset_id %}" class="text-dark font-weight-bold">{{ trusters_teaser_more_count }} user{% if trusters_teaser_more_count > 1 %}s{% endif %}</a>
              {% endif %}
            </small>
          </div>
          {% endif %}
        </div>
        <div class="btn-group asset-ticker py-1" data-asset_id="{{ object.asset_id }}" style="display: none;">
          <a href="{% url 'nc:asset-top-list' %}" title="StellarTerm Activity Score" class="btn btn-sm btn-warning btn-asset-score" style="display: none;">
            <span data-feather="star"></span>
            <span class="asset-score"></span>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="card mt-4 box-shadow">
  <div class="card-body">
    <div id="assetChart" class="asset-chart" {% if not is_native %}data-base_asset_code="{{ object.code }}" data-base_asset_issuer="{{ object.issuer_address }}"{% else %}data-url="{% url 'nc:asset-exchange-ticker' %}" data-exchange_pair_name="{{ exchange_pair_name }}" data-counter_code="{{ counter_code }}"{% endif %}>
      <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
        Loading historical price data ...
      </div>
    </div>
  </div>
  {% if is_native %}
  <div class="card-footer">
    <div class="btn-group" role="group">
      {% for code in allowed_pairs %}
      <a href="{% url 'nc:asset-detail' 'XLM-native' %}?counter_code={{ code }}" {% if counter_code == code %}class="btn btn-sm btn-light active"{% else %}class="btn btn-sm btn-light"{% endif %}>{{ code }}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

{% if request.user.is_authenticated %}
{% if not is_native %}
<div class="mt-2 d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center">
  <div class="w-50 p-2 dropup dropup-buy-sell" style="min-width: 300px;">
    <button type="button" class="btn btn-md btn-block btn-primary dropup-buy-sell-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Buy
    </button>
    <div class="dropdown-menu dropdown-menu-left">
      <form id="buyForm" method="POST" class="px-4 py-3">
        {% csrf_token %}
        <div id="buyFormHeader" class="form-header mb-4 d-flex flex-wrap justify-content-between align-items-center">
          <h6>Buy {{ object.code }}</h6>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-light active">Market</button>
            <button type="button" class="btn btn-sm btn-light" disabled>Limit</button>
          </div>
        </div>
        <div class="text-center py-1">
          <h4 class="mb-0"><span id="buyEstimate">0.0000000</span> {{ object.code }}</h4>
          <small data-asset_id="XLM-native" class="asset-ticker text-muted"><span id="buyEstimateUsd" class="asset-price-data-usd" data-asset_price_usd="">$0.0000000</span></small>
        </div>
        <div class="form-group">
          <label for="buySecretKey">Buy With</label>
          <div class="input-group">
            <input id="buySecretKey" type="password" name="secret_key" class="form-control" placeholder="Account Secret Key" aria-label="Secret Key">
            <div class="input-group-append">
              <button id="buyLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#buySecretKey" data-alert_ref="#buyFormHeader" data-alert_before="false" data-submit_name="Submit Buy">
                <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="buyAmount">Amount</label>
          <div class="input-group">
            <input type="number" name="amount" class="form-control" id="buyAmount" min="0" max="" step="0.0000001" required>
            <div class="input-group-append">
              <span class="input-group-text">XLM</span>
            </div>
          </div>
          <small class="text-muted">Available asset balance: <span id="buyAmountInputAvailable"></span></small>
        </div>
        <small class="asset-ticker" data-asset_id="{{ object.asset_id }}">Estimated {{ object.code }} amount from current market price of 1 {{ object.code }} = <span id="buyPrice"></span> XLM (lowest ask price)</small>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Submit Buy</span></button>
        </div>
        <div class="text-danger mt-4">
          <strong>Security Notes</strong>
          <ul>
            <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
            <li>Nucleo creates an offer to buy {{ object.code }} on the Stellar Decentralized Exchange (SDEX) from the browser. Your secret key is used to sign off on this modification to the Stellar ledger.</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div class="w-50 p-2 dropup dropup-buy-sell" style="min-width: 300px;">
    <button type="button" class="btn btn-md btn-block btn-secondary dropup-buy-sell-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sell
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <form id="sellForm" method="POST" class="px-4 py-3">
        {% csrf_token %}
        <div id="sellFormHeader" class="form-header mb-4 d-flex flex-wrap justify-content-between align-items-center">
          <h6>Sell {{ object.code }}</h6>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-light active">Market</button>
            <button type="button" class="btn btn-sm btn-light" disabled>Limit</button>
          </div>
        </div>
        <div class="text-center py-1">
          <h4 class="mb-0"><span id="sellEstimate">0.0000000</span> XLM</h4>
          <small data-asset_id="XLM-native" class="asset-ticker text-muted"><span id="sellEstimateUsd" class="asset-price-data-usd" data-asset_price_usd="">$0.0000000</span></small>
        </div>
        <div class="form-group">
          <label for="sellSecretKey">Sell With</label>
          <div class="input-group">
            <input id="sellSecretKey" type="password" name="secret_key" class="form-control" placeholder="Account Secret Key" aria-label="Secret Key">
            <div class="input-group-append">
              <button id="sellLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#sellSecretKey" data-alert_ref="#sellFormHeader" data-alert_before="false" data-submit_name="Submit Sell">
                <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="sellAmount">Amount</label>
          <div class="input-group">
            <input type="number" name="amount" class="form-control" id="sellAmount" min="0" max="" step="0.0000001" required>
            <div class="input-group-append">
              <span class="input-group-text">{{ object.code }}</span>
            </div>
          </div>
          <small class="text-muted">Available asset balance: <span id="sellAmountInputAvailable"></span></small>
        </div>
        <small class="asset-ticker" data-asset_id="{{ object.asset_id }}">Estimated XLM amount from current market price of 1 {{ object.code }} = <span id="sellPrice"></span> XLM (highest bid price)</small>
        <div class="mt-3">
          <button type="submit" class="btn btn-secondary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Submit Sell</span></button>
        </div>
        <div class="text-danger mt-4">
          <strong>Security Notes</strong>
          <ul>
            <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
            <li>Nucleo creates an offer to sell {{ object.code }} on the Stellar Decentralized Exchange (SDEX) from the browser. Your secret key is used to sign off on this modification to the Stellar ledger.</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

<div id="positionsContainer" style="display: none;">
  <div class="card my-4">
    <div class="card-header">
      Your Current Holdings{% if object.name %} of {{ object.name }}{% endif %}
    </div>
    <div class="card-body">
      <strong class="py-1">
        <img class="card-img-top rounded-circle mr-2" {% if object.pic %}src="{{ object.pic.url }}"{% elif object.toml_pic %}src="{{ object.toml_pic }}"{% else %}src="{% static 'nc/images/asset.png' %}"{% endif %} style="height: 25px; width: 25px;">
        {{ object.code }}
      </strong>

      <ul id="accountPositions" class="list-group mt-3" data-parent="#orderbook">
        <strong class="py-1">Holdings By Trusting Account</strong>
        {% for account in accounts %}
        <li class="list-group-item d-none justify-content-between align-items-center" data-public_key="{{ account.public_key }}" data-display_decimals="{{ object.display_decimals }}">
          <div class="d-flex justify-content-start align-items-center">
            <img class="card-img-top rounded mr-2" style="height: 25px; width: 25px;"{% if account.pic %} src="{{ account.pic.url }}"{% else %} src="{% static 'nc/images/account.png' %}"{% endif %} alt="">
            <span>
              {{ account.name }} ({{ account.public_key|truncatechars:8 }}{{ account.public_key|slice:"-5:" }})
            </span>
          </div>
          <strong class="asset-balance"></strong>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Activity Tx Hash Form -->
<form method="POST" id="activityForm" class="d-none" action="{% url 'nc:feed-activity-create' %}">
  {% csrf_token %}
  {{ activity_form }}
</form>
{% elif not is_native %}
<div class="mt-2 d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center">
  <div class="w-50 p-2" style="min-width: 300px;">
    <a href="{{ login_redirect }}" class="btn btn-md btn-block btn-primary">Buy</a>
  </div>
  <div class="w-50 p-2" style="min-width: 300px;">
    <a href="{{ login_redirect }}" class="btn btn-md btn-block btn-secondary">Sell</a>
  </div>
</div>
{% endif %}

<div class="mt-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 id="about" class="h2">About</h1>
</div>

<div class="card my-4 box-shadow">
  <div class="card-header">
    {% if object.name %}{{ object.name }} {% endif %}Information
  </div>
  <div class="card-body">
    <h4 class="card-title">Description</h4>
    <p class="card-text">{% if object.description %}{{ object.description }}{% endif %}</p>

    <h6 class="card-subtitle mt-4">Conditions</h6>
    <p class="card-text">{% if object.conditions %}{{ object.conditions }}{% endif %}</p>

    {% if object.whitepaper %}
    <a href="{{ object.whitepaper.url }}" class="btn btn-sm btn-primary" role="button" aria-disabled="true" download><span data-feather='download'></span> Download White Paper</a>
    {% else %}
    <button type="button" class="btn btn-sm btn-primary" role="button" aria-disabled="true" disabled><span data-feather='download'></span> Download White Paper</button>
    {% endif %}
  </div>
</div>

<div class="card my-4 box-shadow">
  <div class="card-header">
    {% if object.name %}{{ object.name }} {% endif %}Statistics
  </div>
  <div class="card-body">
    <ul class="list-group">
      <strong class="py-1">Base Metrics</strong>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Circulating Supply</span>
        <strong>{{ asset.amount|intcomma }}</strong>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Number Of Accounts Trusted By</span>
        <strong>{{ asset.num_accounts|intcomma }}</strong>
      </li>
    </ul>
    <ul id="assetMetricsList" class="list-group mt-4 mb-2" data-asset_id="{{ object.asset_id }}">
      <strong class="py-1">Trade Metrics</strong>
    </ul>
  </div>
</div>
{% endblock %}


{% block nc_script %}
<script>
  const ASSET_CODE = "{{ object.code }}",
        ASSET_ISSUER = "{{ object.issuer_address }}",
        {% if is_native %}
        IS_NATIVE = true;
        {% else %}
        IS_NATIVE = false;
        {% endif %}

  const ACCOUNTS = {
    {% if request.user.is_authenticated %}
    {% for account in accounts %}
    "{{ account.public_key }}": {
      "name": "{{ account.name }}",
      "pic_url": {% if account.pic %}"{{ account.pic.url }}"{% else %}"{% static 'nc/images/account.png' %}"{% endif %}
    },
    {% endfor %}
    {% endif %}
  };
</script>
<script src="{% static 'nc/scripts/ticker.js' %}"></script>
<script src="{% static 'nc/scripts/asset_chart.js' %}"></script>
<script src="{% static 'nc/scripts/asset.js' %}"></script>
{% endblock %}
