{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/leaderboard.css' %}' />
{% endblock %}

{% block title %}Top Assets | Nucleo{% endblock %}

{% block main %}
{% if request.user.is_authenticated %}
<div class="list-group mb-3">
  <div class="list-group-item flex-column align-items-start">
    <a href="{% url 'nc:user-redirect' %}" class="list-group-item list-group-item-action d-flex w-100 justify-content-between p-0 border-0">
      <div class="d-flex flex-row align-items-center my-2">
        <div class="mr-2">
          <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 70px; width: 70px;"{% if profile and profile.pic %} src="{{ profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-start">
          <strong>{{ request.user.get_full_name }}</strong>
          <small class="text-secondary">@{{ request.user.username }}</small>
          <small>
            {% for a in request.user.assets_trusting.all %}
            <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
            {% endfor %}
          </small>
        </div>
      </div>
    </a>
    <div class="d-flex flex-wrap w-100 justify-content-between align-items-end">
      <div class="d-flex flex-column">
        <div class="btn-group pr-2 my-1">
          {% if profile.portfolio.rank %}
          <a href="{% url 'nc:leaderboard-redirect' %}" title="Leaderboard Ranking (1d)" class="btn btn-sm btn-warning">
            <span data-feather="award"></span>
            {{ profile.portfolio.rank }}
          </a>
          {% endif %}
          <button type="button" title="Your Portfolio Value ({{ portfolio_latest_created|naturaltime }})" class="btn btn-sm btn-dark">
            ${{ portfolio_latest_usd_value|floatformat:2|intcomma }}
          </button>
          {% with profile.portfolio|get_attribute:performance_attr as performance %}
          {% if performance != None %}
          <button type="button" title="Your Portfolio Performance ({{ date_span }})" {% if performance > 0 %}class="btn btn-sm btn-success"{% elif performance < 0 %}class="btn btn-sm btn-danger"{% else %}class="btn btn-sm btn-secondary"{% endif %}>
            {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
          </button>
          {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="d-flex flex-column">
        <div>
          <button type="button" class="btn btn-sm btn-outline-dark my-1" data-toggle="modal" data-target="#depositFundsModal">
            <span data-feather="download"></span>
            Deposit Funds
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Deposit funds modal -->
<div class="modal fade" id="depositFundsModal" tabindex="-1" role="dialog" aria-labelledby="depositFundsModalTitle" aria-hidden="true">
  <form method="POST" id="depositFundsModalForm">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositFundsModalTitle">Deposit Funds To Stellar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="depositFundsModalHeader" class="pt-1 mb-3 modal-body-header">Please select an asset type and a Stellar account to receive deposit</h5>
          <div class="form-group">
            <label for="depositFundsModalAssetSelect">Asset type</label>
            <select class="custom-select" id="depositFundsModalAssetSelect" name="asset" required="">
              <option value="">Choose...</option>
              {% for a in deposit_assets %}
              <option value="{{ a.asset_id }}" data-code="{{ a.code }}" data-issuer="{{ a.issuer_address }}">{{ a.code }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid asset.
            </div>
            {% for a in deposit_assets %}
            <div class="deposit-asset d-none py-3" data-asset_id="{{ a.asset_id }}">
              <label class="text-muted">Stellar asset to be deposited</label>
              <div class="d-flex flex-wrap justify-content-start align-items-center border-0">
                <img class="img-object-fit-cover img-thumbnail rounded-circle" style="height: 60px; width: 60px;" src="{{ a.pic_url }}" alt="">
                <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                  <strong>{{ a.code }}</strong>
                  <span class="text-secondary">{{ a.domain }}</span>
                  <small class="text-muted" style="font-size: 0.6em">Issuer: {{ a.issuer_address }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="depositFundsModalAccountSelect">Stellar account</label>
            <select class="custom-select" id="depositFundsModalAccountSelect" name="account" required="">
              <option value="">Choose...</option>
              {% for acc in request.user.accounts.all %}
              <option value="{{ acc.public_key }}">{% if acc.name %}{{ acc.name }} {% endif %}({{ acc.public_key|truncatechars:10 }}{{ acc.public_key|slice:"-7:" }})</option>
              {% endfor %}
            </select>
            <small><a href="{% url 'nc:user-detail' request.user.username %}#accounts">Add a Stellar account</a></small>
            <div class="invalid-feedback">
              Please select a valid account.
            </div>
          </div>
        </div>
        <div class="modal-body py-0">
          <div class="mb-3 d-inline-flex justify-content-start align-items-center">
            <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 50px; width: 50px;" src="{% static 'nc/images/papaya.png' %}" alt="">
            <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
              <strong>Powered by Papaya</strong>
              <a href="https://apay.io" target="_blank" class="text-secondary">apay.io</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s" {% if request.user.accounts.count == 0 %}disabled{% endif %}><span class="ladda-label">Get External Address</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Change Trust Modal -->
<div class="modal fade" id="changeTrustModal" tabindex="-1" role="dialog" aria-labelledby="changeTrustModalTitle" aria-hidden="true">
  <form method="POST" id="changeTrustModalForm" data-asset_code="" data-asset_issuer="">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeTrustModalTitle">Change Trust For <span class="modal-asset-code"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="changeTrustModalBodyHeader" class="pt-1 mb-3 modal-body-header">Please enter your secret key to toggle trust</h5>
          <div class="input-group">
            <div class="input-group">
              <input id="changeTrustModalSecretKey" type="password" name="secret_key" class="form-control" placeholder="Secret Key (example: SBUVRVHRRGNBFYY...)" aria-label="Secret Key">
              <div class="input-group-append">
                <button id="changeTrustModalLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#changeTrustModalSecretKey" data-alert_ref="#changeTrustModalBodyHeader" data-alert_before="false" data-submit_name="Submit">
                  <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
                </button>
              </div>
            </div>
            <div class="text-muted mt-2">
              <small id="changeTrustModalRemovePrompt" style="display: none;">
                The Stellar account associated with this secret key currently trusts <span class="modal-asset-code"></span>.
                By clicking Change Trust, you will <span class="font-weight-bold">remove trust</span> for <span class="modal-asset-code"></span>.
              </small>
              <small id="changeTrustModalAddPrompt" style="display: none;">
                The Stellar account associated with this secret key currently does not trust <span class="modal-asset-code"></span>.
                By clicking Change Trust, you will <span class="font-weight-bold">add trust</span> for <span class="modal-asset-code"></span>.
              </small>
            </div>
          </div>
          <p class="mt-3">
            By clicking Change Trust, a transaction with <a href="https://www.stellar.org/developers/guides/concepts/list-of-operations.html#change-trust" class="text-info" target="_blank">Change Trust</a> operation will be added to the Stellar Network.
          </p>
          <div class="text-danger mt-4">
            <strong>Security Notes</strong>
            <ul>
              <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
              <li>Nucleo uses your secret key to sign off on this modification to the Stellar ledger.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Change Trust</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Activity Tx Hash Form -->
<form method="POST" id="activityForm" class="d-none" action="{% url 'nc:feed-activity-create' %}">
  {% csrf_token %}
  <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
  {{ activity_form }}
</form>

{% if request.user.follower_requests.count > 0 %}
<div class="card card-requests mb-4">
  <div class="card-header border-0">
    Follower requests
  </div>
  <div class="card-body p-0">
    {% for fr in follower_requests %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'nc:user-detail' fr.requester.username %}" class="list-group-item-action d-inline-flex justify-content-start align-items-center">
        <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 50px; width: 50px;"{% if fr.requester.profile and fr.requester.profile.pic %} src="{{ fr.requester.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
          <strong>{{ fr.requester.get_full_name }}</strong>
          <small class="text-muted">@{{ fr.requester.username }}</small>
        </div>
      </a>
      <div class="btn-group">
        <form method="POST" action="{% url 'nc:user-follow-request-update' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-primary">Confirm</button>
        </form>
        <form method="POST" class="ml-1" action="{% url 'nc:user-follow-request-delete' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}

<div class="card mb-2">
  <div class="card-body p-0 m-0">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a title="Leaderboard" class="nav-link btn-outline-warning rounded-0 rounded-left" href="{% url 'nc:leaderboard-redirect' %}">
          <span data-feather="award"></span>
        </a>
      </li>
      <li class="nav-item">
        <a title="Trade" class="nav-link btn-outline-success rounded-0 active" href="{% url 'nc:trade-redirect' %}">
          <span data-feather="trending-up"></span>
        </a>
      </li>
      <li class="nav-item">
        <a title="Feed" class="nav-link btn-outline-info rounded-0 rounded-right" href="{% url 'nc:feed-redirect' %}">
          <span data-feather="activity"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
    <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
      <h5>Top Assets On Stellar</h5>
      <span class="text-secondary">Choose an asset to trade on Stellar's built-in DEX</span>
    </div>
    <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
      <div class="btn-group my-1" role="group">
        <a {% if display == 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display={{ display }}&counter_code=USD&order_by={{ order_by }}"{% else %}href="{% url 'nc:asset-top-list' %}?display={{ display|slice:"0:-3" }}USD&counter_code=USD&order_by={{ order_by }}"{% endif %} {% if counter_code == 'USD' %}class="btn btn-sm btn-light active"{% else %}class="btn btn-sm btn-light"{% endif %}>USD</a>
        <a {% if display == 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display={{ display }}&counter_code=XLM&order_by={{ order_by }}"{% else %}href="{% url 'nc:asset-top-list' %}?display={{ display|slice:"0:-3" }}XLM&counter_code=XLM&order_by={{ order_by }}"{% endif %} {% if counter_code == 'XLM' %}class="btn btn-sm btn-light active"{% else %}class="btn btn-sm btn-light"{% endif %}>XLM</a>
      </div>
      <div class="btn-group my-1" role="group">
        <a {% if display == 'activityScore' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% else %}href="{% url 'nc:asset-top-list' %}?display=activityScore&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'activityScore' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>
          {% endif %}
          Activity
        </a>
        <a {% if display == 'price_USD' or display == 'price_XLM' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% elif display != 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display=price_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% else %}href="{% url 'nc:asset-top-list' %}?display=price_{{ counter_code }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'price_USD' or display == 'price_XLM' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>
          {% endif %}
          Price
        </a>
        <a {% if display == 'change24h_USD' or display == 'change24h_XLM' %}{% if order_by == 'asc' %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=desc"{% else %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by=asc"{% endif %} class="btn btn-sm btn-primary active"{% elif display != 'activityScore' %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ display|slice:"-3:" }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% else %}href="{% url 'nc:asset-top-list' %}?display=change24h_{{ counter_code }}&counter_code={{ counter_code }}&order_by={{ order_by }}" class="btn btn-sm btn-primary"{% endif %}>
          {% if display == 'change24h_USD' or display == 'change24h_XLM' %}
          <span {% if order_by == 'desc' %}data-feather="chevrons-up"{% else %}data-feather="chevrons-down"{% endif %}></span>{% endif %}
          Change 24h
        </a>
      </div>
    </div>
  </div>
  <div class="card-body card-leaderboard p-0">
    <ol class="list-group">
      {% for a in page_obj %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column mr-2">
          <button type="button" title="StellarTerm Activity Score" style="width: 60px;" {% if a.activityScore %}class="btn btn-sm btn-warning my-1"{% else %}class="btn btn-sm btn-light text-light my-1"{% endif %}>
            <span data-feather="star"></span>
            {% if a.activityScore %}{{ a.activityScore|floatformat:0 }}{% endif %}
          </button>
          {% if not request.user.is_authenticated %}
          <a href="{{ login_redirect }}" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1">
            Trust
          </a>
          {% elif a.is_trusting %}
          <button type="button" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1 active"{% if a.asset_id != 'XLM-native' %} data-toggle="modal" data-target="#changeTrustModal" data-asset_code="{{ a.code }}" data-asset_issuer="{{ a.issuer_address }}"{% endif %}>
            Trusted
          </button>
          {% else %}
          <button type="button" title="Change Trust" style="width: 60px; font-size: 0.75em;" class="btn btn-sm btn-outline-primary my-1"{% if a.asset_id != 'XLM-native' %} data-toggle="modal" data-target="#changeTrustModal" data-asset_code="{{ a.code }}" data-asset_issuer="{{ a.issuer_address }}"{% endif %}>
            Trust
          </button>
          {% endif %}
        </div>
        <a href="{% url 'nc:asset-detail' a.asset_id %}" class="list-group-item list-group-item-action p-0 border-0">
          <div class="d-inline-flex justify-content-start align-items-center">
            <img class="img-object-fit-cover img-thumbnail rounded-circle flex-auto" style="height: 70px; width: 70px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
            <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
              <strong>{{ a.code }}</strong>
              <small class="text-muted">{% if a.domain %}{{ a.domain }}{% endif %}</small>
            </div>
          </div>
        </a>
        <div class="ml-2 asset-ticker">
          {% with a|get_attribute:'price_USD' as display_val %}
          {% with a|get_attribute:'change24h_USD' as performance %}
          <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_USD"{% endif %}>
            {% if display_val != None %}${{ display_val|intcomma }}{% else %}-{% endif %}
          </button>
          <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_USD"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_USD"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_USD"{% endif %}>
            {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
          </button>
          {% endwith %}
          {% endwith %}

          {% with a|get_attribute:'price_XLM' as display_val %}
          {% with a|get_attribute:'change24h_XLM' as performance %}
          <button type="button" {% if performance and display_val != None %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-price_XLM"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-price_XLM"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-price_XLM"{% endif %}>
            {% if display_val != None %}{{ display_val|intcomma }} XLM{% else %}-{% endif %}
          </button>
          <button type="button" {% if performance %}{% if performance > 0 %}class="d-none btn btn-sm btn-success btn-topassets btn-change24h_XLM"{% elif performance < 0 %}class="d-none btn btn-sm btn-danger btn-topassets btn-change24h_XLM"{% endif %}{% else %}class="d-none btn btn-sm btn-secondary btn-topassets btn-change24h_XLM"{% endif %}>
            {% if performance != None %}{% if performance > 0 %}+{% endif %}{{ performance|floatformat:2|intcomma }}%{% else %}-{% endif %}
          </button>
          {% endwith %}
          {% endwith %}
        </div>
      </div>
      {% endfor %}
    </ol>
  </div>
</div>

<div class="pagination mt-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page=1">&laquo; First</a>
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.next_page_number }}">Next</a>
            <a href="?display={{ display }}&order_by={{ order_by }}&counter_code={{ counter_code }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% block nc_script %}
<script>
  var CURRENT_DISPLAY = {% if display == 'activityScore' %}"price_{{ counter_code }}"{% else %}"{{ display }}"{% endif %};
  const ALLOWED_DISPLAYS = [
    "price_{{ counter_code }}",
    "change24h_{{ counter_code }}"
  ];
</script>
<script src="{% static 'nc/scripts/ticker.js' %}"></script>
<script src="{% static 'nc/scripts/asset_top.js' %}"></script>
<script>
  const PAPAYA_API_DEPOSIT_URL = "{{ papaya_api_deposit_url }}",
        PAPAYA_ASSET_TRUST_LINKS = {
          {% for a in deposit_assets %}
          {{ a.code }}: "{% url 'nc:asset-trust-list' a.asset_id %}",
          {% endfor %}
        };
</script>
<script src="{% static 'nc/scripts/deposit.js' %}"></script>
{% endblock %}
