{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/feed.css' %}' />
{% endblock %}

{% block title %}Nucleo | Activity{% endblock %}

{% block main %}
<div class="list-group my-4">
  <div href="{% url 'nc:user-redirect' %}" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <img class="rounded img-object-fit-cover m-2" style="height: 40px; width: 40px;"{% if profile and profile.pic %} src="{{ profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <h5 class="m-2">{{ request.user.get_full_name }}</h5>
      </div>
      <span class="text-secondary" style="font-weight: 500">@{{ request.user.username }}</span>
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-between mx-2">
      <div class="btn-group pr-2 my-1">
        <a href="{% url 'nc:user-follower-list' request.user.username %}" class="btn btn-sm btn-light">
          Followers: {{ profile.followers.count }}
        </a>
        <a href="{% url 'nc:user-following-list' request.user.username %}" class="btn btn-sm btn-light">
          Following: {{ request.user.profiles_following.count }}
        </a>
      </div>
      <div>
        <a href="{% url 'nc:user-redirect' %}" class="btn btn-sm btn-outline-primary my-1">
          <span data-feather="user"></span>
          Head To Profile
        </a>
        <a href="{% url 'nc:trade-redirect' %}" class="btn btn-sm btn-outline-success my-1">
          <span data-feather="trending-up"></span>
          Trade Assets
        </a>
        <a href="{% url 'nc:leaderboard-redirect' %}" class="btn btn-sm btn-outline-warning my-1">
          <span data-feather="award"></span>
          Check Leaderboard
        </a>
      </div>
    </div>
  </div>
</div>

{% if request.user.follower_requests.count > 0 %}
<div class="card card-feed mb-4">
  <div class="card-header border-0">
    Follower requests
  </div>
  <div class="card-body p-0">
    {% for fr in follower_requests %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'nc:user-detail' fr.requester.username %}" class="list-group-item-action d-inline-flex justify-content-start align-items-center">
        <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 50px; width: 50px;"{% if fr.requester.profile and fr.requester.profile.pic %} src="{{ fr.requester.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
          <strong>{{ fr.requester.get_full_name }}</strong>
          <small class="text-muted">@{{ fr.requester.username }}</small>
        </div>
      </a>
      <div class="btn-group">
        <form method="POST" action="{% url 'nc:user-follow-request-update' fr.requester.username %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-outline-primary">Confirm</button>
        </form>
        <form method="POST" class="ml-1" action="{% url 'nc:user-follow-request-delete' fr.requester.username %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="card card-feed">
  <div class="card-header border-0">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a href="{% url 'nc:feed-activity' %}" class="nav-item nav-link active">
          <span data-feather="activity"></span>
          Activity
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nc:feed-news' %}" class="nav-item nav-link">
          <span data-feather="rss"></span>
          News
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body p-0">
    <ul id="activityList" class="list-group">
    </ul>
  </div>
  <div class="card-footer border-0 d-flex justify-content-start align-items-center">
    <button id="moreButton" type="button" class="btn btn-sm btn-link more p-0" data-parent="#activityList" data-has_more="true" data-id_lt="">More</button>
  </div>
</div>
{% endblock %}


{% block nc_script %}
<script>
  const STREAM_API_KEY = "{{ stream_api_key }}",
        STREAM_TIMELINE_FEED = "{{ stream_timeline_feed }}",
        STREAM_FEED_ID = "{{ request.user.id }}",
        STREAM_FEED_TOKEN = "{{ stream_feed_token }}",
        STREAM_FEED_LIMIT = 25;
</script>
<script src="{% static 'getstream/js/getstream.min.js' %}"></script>
<script src="{% static 'nc/scripts/feed_activity.js' %}"></script>
{% endblock %}
