{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/feed.css' %}' />
{% endblock %}

{% block title %}News | Nucleo{% endblock %}

{% block main %}
<div class="list-group mb-3">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex flex-row align-items-center my-2">
        <div class="mr-2">
          <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 70px; width: 70px;"{% if profile and profile.pic %} src="{{ profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        </div>
        <div class="d-flex flex-column align-items-start justify-content-start">
          <strong>{{ request.user.get_full_name }}</strong>
          <small class="text-secondary">@{{ request.user.username }}</small>
          <small>
            {% for a in request.user.assets_trusting.all %}
            <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
            {% endfor %}
          </small>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-between align-items-end">
      <div class="d-flex flex-column">
        <div class="btn-group pr-2 my-1">
          {% if profile.portfolio.rank %}
          <a href="{% url 'nc:leaderboard-redirect' %}" title="Leaderboard Ranking (1d)" class="btn btn-sm btn-warning">
            <span data-feather="award"></span>
            {{ profile.portfolio.rank }}
          </a>
          {% endif %}
          <button type="button" title="Your Portfolio Value ({{ portfolio_latest_created|naturaltime }})" class="btn btn-sm btn-dark">
            ${{ portfolio_latest_usd_value|floatformat:2|intcomma }}
          </button>
          {% with profile.portfolio|get_attribute:performance_attr as performance %}
          {% if performance != None %}
          <button type="button" title="Your Portfolio Performance ({{ date_span }})" {% if performance > 0 %}class="btn btn-sm btn-success"{% elif performance < 0 %}class="btn btn-sm btn-danger"{% else %}class="btn btn-sm btn-secondary"{% endif %}>
            {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
          </button>
          {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="d-flex flex-column">
        <div>
          <button type="button" class="btn btn-sm btn-outline-dark my-1" data-toggle="modal" data-target="#depositFundsModal">
            <span data-feather="download"></span>
            Deposit Funds
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Deposit funds modal -->
<div class="modal fade" id="depositFundsModal" tabindex="-1" role="dialog" aria-labelledby="depositFundsModalTitle" aria-hidden="true">
  <form method="POST" id="depositFundsModalForm">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositFundsModalTitle">Deposit Funds To Stellar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="depositFundsModalHeader" class="pt-1 mb-3 modal-body-header">Please select an asset type and a Stellar account to receive deposit</h5>
          <div class="form-group">
            <label for="depositFundsModalAssetSelect">Asset type</label>
            <select class="custom-select" id="depositFundsModalAssetSelect" name="asset" required="">
              <option value="">Choose...</option>
              {% for a in deposit_assets %}
              <option value="{{ a.asset_id }}" data-code="{{ a.code }}" data-issuer="{{ a.issuer_address }}">{{ a.code }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid asset.
            </div>
            {% for a in deposit_assets %}
            <div class="deposit-asset d-none py-3" data-asset_id="{{ a.asset_id }}">
              <label class="text-muted">Stellar asset to be deposited</label>
              <div class="d-flex flex-wrap justify-content-start align-items-center border-0">
                <img class="img-object-fit-cover img-thumbnail rounded-circle" style="height: 60px; width: 60px;" src="{{ a.pic_url }}" alt="">
                <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                  <strong>{{ a.code }}</strong>
                  <span class="text-secondary">{{ a.domain }}</span>
                  <small class="text-muted" style="font-size: 0.6em">Issuer: {{ a.issuer_address }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="depositFundsModalAccountSelect">Stellar account</label>
            <select class="custom-select" id="depositFundsModalAccountSelect" name="account" required="">
              <option value="">Choose...</option>
              {% for acc in request.user.accounts.all %}
              <option value="{{ acc.public_key }}">{% if acc.name %}{{ acc.name }} {% endif %}({{ acc.public_key|truncatechars:10 }}{{ acc.public_key|slice:"-7:" }})</option>
              {% endfor %}
            </select>
            <small><a href="{% url 'nc:user-detail' request.user.username %}#accounts">Add a Stellar account</a></small>
            <div class="invalid-feedback">
              Please select a valid account.
            </div>
          </div>
        </div>
        <div class="modal-body py-0">
          <div class="mb-3 d-inline-flex justify-content-start align-items-center">
            <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 50px; width: 50px;" src="{% static 'nc/images/papaya.png' %}" alt="">
            <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
              <strong>Powered by Papaya</strong>
              <a href="https://apay.io" target="_blank" class="text-secondary">apay.io</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s" {% if request.user.accounts.count == 0 %}disabled{% endif %}><span class="ladda-label">Get External Address</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

{% if request.user.follower_requests.count > 0 %}
<div class="card card-requests mb-4">
  <div class="card-header border-0">
    Follower requests
  </div>
  <div class="card-body p-0">
    {% for fr in follower_requests %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'nc:user-detail' fr.requester.username %}" class="list-group-item-action d-inline-flex justify-content-start align-items-center">
        <img class="img-object-fit-cover img-thumbnail flex-auto" style="height: 50px; width: 50px;"{% if fr.requester.profile and fr.requester.profile.pic %} src="{{ fr.requester.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
          <strong>{{ fr.requester.get_full_name }}</strong>
          <small class="text-muted">@{{ fr.requester.username }}</small>
        </div>
      </a>
      <div class="btn-group">
        <form method="POST" action="{% url 'nc:user-follow-request-update' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-primary">Confirm</button>
        </form>
        <form method="POST" class="ml-1" action="{% url 'nc:user-follow-request-delete' fr.requester.username %}">
          {% csrf_token %}
          <input name="success_url" type="hidden" value="{{ request.get_full_path }}">
          <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="card mb-2">
  <div class="card-body p-0 m-0">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a title="Leaderboard" class="nav-link btn-outline-warning rounded-0 rounded-left" href="{% url 'nc:leaderboard-redirect' %}">
          <span data-feather="award"></span>
        </a>
      </li>
      <li class="nav-item">
        <a title="Trade" class="nav-link btn-outline-success rounded-0" href="{% url 'nc:trade-redirect' %}">
          <span data-feather="trending-up"></span>
        </a>
      </li>
      <li class="nav-item">
        <a title="Feed" class="nav-link btn-outline-info rounded-0 rounded-right active" href="{% url 'nc:feed-redirect' %}">
          <span data-feather="activity"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="card card-feed">
  <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
    <div class="mb-1 d-flex flex-column justify-content-between align-items-start">
      <h5>Top Activity From Your Friends</h5>
      <span class="text-secondary">Gain insight into which tokens are making them the most</span>
    </div>
    <div class="btn-group" role="group">
      <a href="{% url 'nc:feed-activity' %}" class="btn btn-sm btn-primary">Activity</a>
      <a href="{% url 'nc:feed-news' %}" class="btn btn-sm btn-primary active">News</a>
    </div>
  </div>
  <div class="card-body p-0">
    <div id="newsList" class="list-group">
      {% for object in object_list %}
      <a href="{{ object.url }}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">{{ object.title | safe }}</h6>
          <small class="time-since pl-1 text-right" data-created_at="{{ object.created_at }}"></small>
        </div>
        <p class="mb-2 text-muted">{{ object.domain }}</p>
        <small class="d-flex flex-wrap justify-content-start align-items-center">
          {% with object.votes as votes %}
          {% if votes.positive > 0 %}
          <span class="mr-2 text-success">
          <span data-feather="arrow-up"></span>
          {{ votes.positive }}
          </span>
          {% endif %}
          {% if votes.negative > 0 %}
          <span class="mr-2 text-danger">
          <span data-feather="arrow-down"></span>
          {{ votes.negative }}
          </span>
          {% endif %}
          {% if votes.important > 0 %}
          <span class="mr-2 text-warning">
          <span data-feather="alert-triangle"></span>
          {{ votes.important }}
          </span>
          {% endif %}
          {% if votes.liked > 0 %}
          <span class="mr-2">
          <span data-feather="thumbs-up"></span>
          {{ votes.liked }}
          </span>
          {% endif %}
          {% if votes.disliked > 0 %}
          <span class="mr-2">
          <span data-feather="thumbs-down"></span>
          {{ votes.disliked }}
          </span>
          {% endif %}
          {% if votes.saved > 0 %}
          <span class="mr-2">
          <span data-feather="star"></span>
          {{ votes.saved }}
          </span>
          {% endif %}
          {% endwith %}
        </small>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="card-footer border-0 d-flex justify-content-start align-items-center">
    <button id="moreButton" type="button" class="btn btn-sm btn-link more p-0" data-parent="#newsList" data-url="{{ next }}" {% if next %}data-has_more="true"{% else %}data-has_more="false"{% endif %}>More</button>
  </div>
</div>
{% endblock %}


{% block nc_script %}
<script>
  const PAPAYA_API_DEPOSIT_URL = "{{ papaya_api_deposit_url }}",
        PAPAYA_ASSET_TRUST_LINKS = {
          {% for a in deposit_assets %}
          {{ a.code }}: "{% url 'nc:asset-trust-list' a.asset_id %}",
          {% endfor %}
        };
</script>
<script src="{% static 'nc/scripts/deposit.js' %}"></script>
<script src="{% static 'nc/scripts/feed_news.js' %}"></script>
{% endblock %}
