{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/feed.css' %}' />
{% endblock %}

{% block title %}Nucleo | News{% endblock %}

{% block nav %}
<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'nc:feed-redirect' %}">
        <span data-feather="activity"></span>
        Feed <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'nc:user-redirect' %}">
        <span data-feather="user"></span>
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'nc:trade-redirect' %}">
        <span data-feather="trending-up"></span>
        Trade
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="send"></span>
        Send
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main %}
<div class="list-group my-4">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <img class="rounded img-object-fit-cover m-2" style="height: 40px; width: 40px;"{% if profile and profile.pic %} src="{{ profile.pic.url }}"{% endif %} alt="">
        <h5 class="m-2">{{ request.user.get_full_name }}</h5>
      </div>
      <span class="text-secondary" style="font-weight: 500">@{{ request.user.username }}</span>
    </div>
    <div class="mx-2">
      <button type="button" class="btn btn-sm btn-light">
        Followers: {{ profile.followers.count }}
      </button>
      <button type="button" class="btn btn-sm btn-light">
        Following: {{ request.user.profiles_following.count }}
      </button>
      <button type="button" class="btn btn-sm btn-light">
        <span data-feather="award"></span>
        #{{ profile.rank }}
      </button>
    </div>
  </div>
</div>

<div class="card card-feed">
  <div class="card-header border-0">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a href="{% url 'nc:feed-news' %}" class="nav-item nav-link">
          <span data-feather="rss"></span>
          News
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nc:feed-activity' %}" class="nav-item nav-link active">
          <span data-feather="activity"></span>
          Activity
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body p-0">
    <div class="list-group">
    </div>
  </div>
  <div class="card-footer border-0 d-flex justify-content-start align-items-center">
    <button id="moreButton" type="button" class="btn btn-sm btn-link more p-0" data-parent="#newsList" data-url="{{ next }}" {% if next %}data-has_more="true"{% else %}data-has_more="false"{% endif %}>More</button>
  </div>
</div>
{% endblock %}


{% block nc_script %}
{% endblock %}
