{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/leaderboard.css' %}' />
{% endblock %}

{% block title %}Nucleo | Leaderboard{% endblock %}

{% block main %}
{% if request.user.is_authenticated %}
<div class="list-group mt-4">
  <div class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <img class="rounded img-object-fit-cover m-2" style="height: 40px; width: 40px;"{% if profile and profile.pic %} src="{{ profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
        <h5 class="m-2">{{ request.user.get_full_name }}</h5>
      </div>
      <div class="d-flex flex-column align-items-end text-right">
        <span class="text-secondary" style="font-weight: 500">@{{ request.user.username }}</span>
        <small>
          {% for a in request.user.assets_trusting.all %}
          <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
          {% endfor %}
        </small>
      </div>
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-between mx-2">
      <div class="btn-group pr-2 my-1">
        {% if profile.portfolio.rank %}
        <a href="{% url 'nc:leaderboard-redirect' %}" title="Leaderboard Ranking (1d)" class="btn btn-sm btn-warning">
          <span data-feather="award"></span>
          {{ profile.portfolio.rank }}
        </a>
        {% endif %}
        <button type="button" title="Your Portfolio Value ({{ portfolio_latest_created|naturaltime }})" class="btn btn-sm btn-dark">
          ${{ portfolio_latest_usd_value|floatformat:2|intcomma }}
        </button>
        {% with profile.portfolio|get_attribute:performance_attr as performance %}
        {% if performance != None %}
        <button type="button" title="Your Portfolio Performance ({{ date_span }})" {% if performance > 0 %}class="btn btn-sm btn-success"{% elif performance < 0 %}class="btn btn-sm btn-danger"{% else %}class="btn btn-sm btn-secondary"{% endif %}>
          {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
        </button>
        {% endif %}
        {% endwith %}
      </div>
      <div>
        <a href="{% url 'nc:user-redirect' %}" class="btn btn-sm btn-outline-primary my-1">
          <span data-feather="user"></span>
          Head To Profile
        </a>
        <button type="button" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#depositFundsModal">
          <span data-feather="download"></span>
          Deposit Funds
        </button>
        <a href="{% url 'nc:trade-redirect' %}" class="btn btn-sm btn-outline-success my-1">
          <span data-feather="trending-up"></span>
          Trade Assets
        </a>
        <a href="{% url 'nc:feed-redirect' %}" class="btn btn-sm btn-outline-secondary my-1">
          <span data-feather="activity"></span>
          View Activity
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Deposit funds modal -->
<div class="modal fade" id="depositFundsModal" tabindex="-1" role="dialog" aria-labelledby="depositFundsModalTitle" aria-hidden="true">
  <form method="POST" id="depositFundsModalForm">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="depositFundsModalTitle">Deposit Funds To Stellar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="depositFundsModalHeader" class="pt-1 mb-3 modal-body-header">Please select an asset type and a Stellar account to receive deposit</h5>
          <div class="form-group">
            <label for="depositFundsModalAssetSelect">Asset type</label>
            <select class="custom-select" id="depositFundsModalAssetSelect" name="asset" required="">
              <option value="">Choose...</option>
              {% for a in deposit_assets %}
              <option value="{{ a.asset_id }}" data-code="{{ a.code }}" data-issuer="{{ a.issuer_address }}">{{ a.code }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid asset.
            </div>
            {% for a in deposit_assets %}
            <div class="deposit-asset d-none py-3" data-asset_id="{{ a.asset_id }}">
              <label class="text-muted">Stellar asset to be deposited</label>
              <div class="d-flex flex-wrap justify-content-start align-items-center border-0">
                <img class="img-object-fit-cover img-thumbnail rounded-circle" style="height: 60px; width: 60px;" src="{{ a.pic_url }}" alt="">
                <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
                  <strong>{{ a.code }}</strong>
                  <span class="text-secondary">{{ a.domain }}</span>
                  <small class="text-muted" style="font-size: 0.6em">Issuer: {{ a.issuer_address }}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="depositFundsModalAccountSelect">Stellar account</label>
            <select class="custom-select" id="depositFundsModalAccountSelect" name="account" required="">
              <option value="">Choose...</option>
              {% for acc in request.user.accounts.all %}
              <option value="{{ acc.public_key }}">{% if acc.name %}{{ acc.name }} {% endif %}({{ acc.public_key|truncatechars:10 }}{{ acc.public_key|slice:"-7:" }})</option>
              {% endfor %}
            </select>
            <small><a href="{% url 'nc:user-detail' request.user.username %}#accounts">Add a Stellar account</a></small>
            <div class="invalid-feedback">
              Please select a valid account.
            </div>
          </div>
        </div>
        <div class="modal-body py-0">
          <div class="mb-3 d-inline-flex justify-content-start align-items-center">
            <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 50px; width: 50px;" src="{% static 'nc/images/papaya.png' %}" alt="">
            <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
              <strong>Powered by Papaya</strong>
              <a href="https://apay.io" target="_blank" class="text-secondary">apay.io</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s" {% if request.user.accounts.count == 0 %}disabled{% endif %}><span class="ladda-label">Get External Address</span></button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

<div class="card mt-4">
  <div class="card-header border-0 d-flex flex-wrap justify-content-between align-items-center">
    <h5>Top Portfolios On Nucleo</h5>
    <div class="btn-group" role="group">
      {% for d in allowed_date_orderings %}
      <a href="{% url 'nc:leaderboard-list' %}?span={{ d }}" {% if date_span == d %}class="btn btn-sm btn-primary active"{% else %}class="btn btn-sm btn-primary"{% endif %}>{{ d }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="card-body card-leaderboard p-0">
    <ol class="list-group">
      {% for u in page_obj %}
      <a href="{% url 'nc:user-detail' u.username %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-inline-flex justify-content-start align-items-center">
          <span class="badge badge-white mr-2">{{ forloop.counter0|add:page_top_number }}</span>
          <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 60px; width: 60px;"{% if u.profile.pic %} src="{{ u.profile.pic.url }}"{% else %} src="{% static 'nc/images/profile.png' %}"{% endif %} alt="">
          <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
            <strong>{{ u.get_full_name }}</strong>
            <small class="text-muted">@{{ u.username }}</small>
            <small>
              {% for a in u.assets_trusting.all %}
              <img class="img-object-fit-cover rounded-circle" {% if a.name %}title="{{ a.name }}"{% else %}title="{{ a.code }} (Issuer: {{ a.issuer_address|truncatechars:8 }}{{ a.issuer_address|slice:'-5:' }})"{% endif %} style="height: 15px; width: 15px;"{% if a.pic %} src="{{ a.pic.url }}"{% elif a.toml_pic %} src="{{ a.toml_pic }}"{% else %} src="{% static 'nc/images/asset.png' %}"{% endif %} alt="">
              {% endfor %}
            </small>
          </div>
        </div>
        {% with u.profile.portfolio|get_attribute:performance_attr as performance %}
        {% if performance != None %}
        <div class="btn-group py-1">
          <button type="button" title="Performance" {% if performance > 0 %}class="btn btn-sm btn-success"{% elif performance < 0 %}class="btn btn-sm btn-danger"{% else %}class="btn btn-sm btn-secondary"{% endif %}>
            {% if performance > 0 %}+{% endif %}{{ performance|percentage }}
          </button>
        </div>
        {% endif %}
        {% endwith %}
      </a>
      {% endfor %}
    </ol>
  </div>
</div>

<div class="pagination mt-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}


{% block nc_script %}
<script>
  const PAPAYA_API_DEPOSIT_URL = "{{ papaya_api_deposit_url }}",
        PAPAYA_ASSET_TRUST_LINKS = {
          {% for a in deposit_assets %}
          {{ a.code }}: "{% url 'nc:asset-trust-list' a.asset_id %}",
          {% endfor %}
        };
</script>
<script src="{% static 'nc/scripts/deposit.js' %}"></script>
{% endblock %}
