{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_update.css' %}' />
{% endblock %}

{% block title %}Nucleo | Edit Profile{% endblock %}

{% block nav %}
<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="activity"></span>
        Feed <span class="sr-only"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'nc:user-detail' request.user.username %}">
        <span data-feather="user"></span>
        Profile <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="trending-up"></span>
        Trade
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="send"></span>
        Send
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 class="h2">Edit Profile</h1>
</div>
<form class="form-update" method="POST" enctype="multipart/form-data" action="{% url 'nc:user-update' object.username %}">
  {% csrf_token %}
  {{ form|bootstrap_horizontal }}
  <div class="my-4 pt-3 border-top">
    <a href="{% url 'nc:user-detail' object.username %}" class="btn btn-secondary m-1">Cancel</a>
    <button class="btn btn-primary m-1" type="submit">Save Changes</button>
  </div>
</form>
{% endblock %}


{% block script %}
{% endblock %}
