{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_update.css' %}' />
{% endblock %}

{% block title %}Nucleo | Follow User{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 class="h2">Are you sure you want to {% if is_following %}unfollow{% else %}follow{% endif %} @{{ object.username }}?</h1>
</div>
<form class="form-update" method="POST" enctype="multipart/form-data" action="{% url 'nc:user-follow' object.username %}">
  {% csrf_token %}
  <div class="my-4">
    <button class="btn btn-lg btn-primary m-2" type="submit">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
    <a href="{% url 'nc:user-detail' object.username %}" class="btn btn-lg btn-secondary m-2">Cancel</a>
  </div>
</form>
{% endblock %}


{% block nc_script %}
{% endblock %}
