{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile.css' %}' />
{% endblock %}

{% block title %}Nucleo | {{ object.get_full_name }} (@{{ object.username }}){% endblock %}

{% block nav %}
<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'nc:feed-redirect' %}">
        <span data-feather="activity"></span>
        Feed
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'nc:user-redirect' %}">
        <span data-feather="user"></span>
        Profile <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'nc:trade-redirect' %}">
        <span data-feather="trending-up"></span>
        Trade
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'nc:send-redirect' %}">
        <span data-feather="send"></span>
        Send
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block main %}
<div class="card mb-4 box-shadow">
  <img class="card-img-top img-object-fit-cover border-bottom" style="height: 300px; width: 100%; display: block;"{% if object.profile and object.profile.cover %} src="{{ object.profile.cover.url }}"{% endif %} alt="">
  <img class="card-img-top img-thumbnail img-object-fit-cover ml-3" style="height: 100px; width: 100px; margin-top: -50px;"{% if object.profile and object.profile.pic %} src="{{ object.profile.pic.url }}"{% endif %} alt="">
    <div class="card-body">
      <h2>{{ object.get_full_name }}</h2>
      <h5 class="text-secondary">@{{ object.username }}</h5>
      <p class="card-text">{% if object.profile.bio %}{{ object.profile.bio }}{% endif %}</p>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="btn-group">
          <a href="{% url 'nc:user-follower-list' object.username %}" class="btn btn-sm btn-outline-dark">
            Followers: {{ followers_count }}
          </a>
          <a href="{% url 'nc:user-following-list' object.username %}" class="btn btn-sm btn-outline-dark">
            Following: {{ following_count }}
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if object.id == request.user.id %}
          <a href="{% url 'nc:user-update' user.username %}" class="btn btn-sm btn-outline-secondary">
            <span data-feather="edit"></span>
            Edit Profile
          </a>
          {% else %}
          <form method="POST" action="{% url 'nc:user-follow' object.username %}">
          {% csrf_token %}
          {% if is_following %}
          <button type="submit" class="btn btn-sm btn-outline-primary active">
            <span data-feather="activity"></span>
            Following
          </button>
          {% else %}
          <button type="submit" class="btn btn-sm btn-outline-primary">
            <span data-feather="activity"></span>
            Follow
          </button>
          {% endif %}
          <a href="{% url 'nc:send-detail' %}?query={{ object.username }}" class="btn btn-sm btn-outline-secondary">
            <span data-feather="send"></span>
            Send
          </a>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 id="assets" class="h2">Assets</h1>
</div>

<div class="album py-3">
  <div class="container-fluid">
    <div class="row">
      {% for tup, asset in assets.items %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow text-center">
          {% if asset.asset_type == 'native' %}
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="text-success" data-feather="check-circle"></span>
            <a href="{% url 'nc:asset-detail' 'XLM-native' %}"><span data-feather="info"></span></a>
          </div>
          <div class="card-body">
            <div class="mb-2">
              <img class="card-img-top img-object-fit-cover img-thumbnail rounded-circle d-inline-block" src="{% static 'nc/images/rocket.png' %}" style="height: 75px; width: 75px;">
            </div>
            <a href="{% url 'nc:asset-detail' 'XLM-native' %}" class="d-inline-block mb-2 text-info">
              <strong>XLM</strong>
            </a>
            <div class="mb-2">
              <h4 class="mb-0">{{ asset.balance|intcomma }}</h4>
              <div data-asset_id='XLM-native' data-asset_balance='{{ asset.balance }}' class="asset-ticker" style="display: none;"></div>
            </div>
          </div>
          <div class="card-footer text-muted w-100">
            <div style="font-weight: 500;">
              Stellar Network
            </div>
            <div><small>Native Lumens</small></div>
          </div>
          {% else %}
          {% with model_assets|get_item:tup as model_asset %}
          {% with asset.asset_code|add:'-'|add:asset.asset_issuer as asset_id %}
          {% if model_asset %}
          <div class="card-header d-flex justify-content-between align-items-center">
            <span {% if model_asset.verified %}class="text-success" data-feather="check-circle"{% else %}class="text-danger" data-feather="alert-octagon"{% endif %}></span>
            <a href="{% url 'nc:asset-detail' asset_id %}"><span data-feather="info"></span></a>
          </div>
          <div class="card-body">
            <div class="mb-2">
              <img class="card-img-top img-object-fit-cover img-thumbnail rounded-circle d-inline-block" {% if model_asset.pic %}src="{{ model_asset.pic.url }}"{% elif model_asset.toml_pic %}src="{{ model_asset.toml_pic }}"{% endif %} style="height: 75px; width: 75px;">
            </div>
            <a href="{% url 'nc:asset-detail' asset_id %}" class="d-inline-block mb-2" style="color: black;">
              <strong>{{ model_asset.code }}</strong>
            </a>
            <div class="mb-2">
              <h4 class="mb-0">{{ asset.balance|intcomma }}</h4>
              <div data-asset_id='{{ asset_id }}' data-asset_balance='{{ asset.balance }}' class="asset-ticker" style="display: none;"></div>
            </div>
          </div>
          <div class="card-footer text-muted w-100">
            {% if asset.asset_issuer in issuers %}
            {% with issuers|get_item:asset.asset_issuer as issuer %}
            {% with issuer.user as user %}
            <div style="font-weight: 500;">{% if model_asset.domain %}{{ model_asset.domain }}{% else %}{{ user.get_full_name }}{% endif %}</div>
            <div><small>Issuer: {{ asset.asset_issuer|truncatechars:8 }}{{ asset.asset_issuer|slice:"-5:" }}
               (<a href="{% url 'nc:user-detail' user.username %}">@{{ user.username }}</a>)
            </small></div>
            {% endwith %}
            {% endwith %}
            {% else %}
            <div style="font-weight: 500;">{% if model_asset.domain %}{{ model_asset.domain }}{% endif %}</div>
            <div><small>Issuer: {{ asset.asset_issuer|truncatechars:8 }}{{ asset.asset_issuer|slice:"-5:" }}</small></div>
            {% endif %}
          </div>
          {% else %}
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="text-danger" data-feather="alert-octagon"></span>
            <span>&nbsp;</span>
          </div>
          <div class="card-body">
            <div class="mb-2">
              <img class="card-img-top img-object-fit-cover img-thumbnail rounded-circle d-inline-block" src="" style="height: 75px; width: 75px;">
            </div>
            <a href="{% url 'nc:asset-detail' asset_id %}" class="d-inline-block mb-2" style="color: black;">
              <strong>{{ asset.asset_code }}</strong>
            </a>
            <div class="mb-2">
              <h4 class="mb-0">{{ asset.balance|intcomma }}</h4>
              <div data-asset_id='{{ asset_id }}' data-asset_balance='{{ asset.balance }}' class="asset-ticker" style="display: none;"></div>
            </div>
          </div>
          <div class="card-footer text-muted w-100">
            {% if asset.asset_issuer in issuers %}
            {% with issuers|get_item:asset.asset_issuer as issuer %}
            {% with issuer.user as user %}
            <div style="font-weight: 500;">{{ user.get_full_name }}</div>
            <div><small>Issuer: {{ asset.asset_issuer|truncatechars:8 }}{{ asset.asset_issuer|slice:"-5:" }}
               (<a href="{% url 'nc:user-detail' user.username %}">@{{ user.username }}</a>)
            </small></div>
            {% endwith %}
            {% endwith %}
            {% else %}
            <div style="font-weight: 500;"></div>
            <div><small>Issuer: {{ asset.asset_issuer|truncatechars:8 }}{{ asset.asset_issuer|slice:"-5:" }}</small></div>
            {% endif %}
          </div>
          {% endif %}
          {% endwith %}
          {% endwith %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if object.id == request.user.id and num_addresses > 0 %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center py-0 mb-3">
  {% if num_addresses == 1 %}
  <button type="button" class="btn btn-lg btn-primary" data-toggle="tooltip" data-placement="bottom" title="Two accounts are needed to issue tokens" disabled>Issue New Token</button>
  {% else %}
  <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#issueStellarToken">Issue New Token</button>
  {% endif %}
</div>

<!-- Issue Stellar Token Modal -->
<div class="modal fade" id="issueStellarToken" tabindex="-1" role="dialog" aria-labelledby="issueStellarModalTitle" aria-hidden="true">
  <form method="POST" id="issueStellarModalForm" class="form-issue-token" data-success="{% url 'nc:user-redirect' %}">
    {% csrf_token %}
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="issueStellarModalTitle">Issue New Token</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="pt-1 modal-body-header">Token Details</h5>
          <div class="form-group form-group-details">
            <label class="control-label sr-only">Token Asset Code</label>
            <input type="text" name="token_code" class="form-control" placeholder="Asset Code (alphanumeric 12-character max)" aria-label="Token Asset Code" maxlength="12" required>
            <label class="control-label sr-only">Number Of Tokens To Create</label>
            <input type="number" name="token_number" class="form-control" placeholder="Number Of Tokens To Create" aria-label="Number Of Tokens To Create" min="1" required>
            <label class="control-label sr-only">Home Domain</label>
            <input type="text" name="issuer_domain" class="form-control" placeholder="Home Web Domain (example.com)" aria-label="Home Web Domain" maxlength="255" required>
          </div>
          <div class="form-group">
            <label class="control-label sr-only">Issuing Account</label>
            <div class="input-group">
              <input type="password" name="issuer_secret_key" class="form-control" placeholder="Issuing Account (e.x. SBUVRVHRRGNBFYY...)" aria-label="Issuing Account Secret Key" required>
              <!-- TODO:
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" disabled>
                  <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
                </button>
              </div>
            -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label sr-only">Distribution Account</label>
            <div class="input-group">
              <input type="password" name="distributer_secret_key" class="form-control" placeholder="Distribution Account (e.x. SB4YQ6LEODDJRZY...)" aria-label="Distributing Account Secret Key" required>
              <!-- TODO:
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" disabled>
                  <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
                </button>
              </div>
            -->
            </div>
          </div>
          <h6 class="mt-3">
            Please enter your secret keys for the issuing and distribution accounts associated with this token. <a href="https://www.stellar.org/blog/tokens-on-stellar/" class="text-info" target="_blank">Learn more.</a>
          </h6>
          <div class="text-danger mt-3">
            <strong>Security Notes</strong>
            <ul>
              <li>We do NOT store your secret keys. Your secret keys are never sent to our servers.</li>
              <li>By clicking Issue Token, a transaction with three operations will be added to the Stellar Network:</li>
              <ol>
                <li>Your distribution account will trust your issuing account for the exact number of tokens specified.</li>
                <li>Your issuing account will create your tokens and send them to the distribution account.</li>
                <li>The home domain for your issuing account will be changed to the web domain specified, for future asset verification with your <a href="https://www.stellar.org/developers/guides/concepts/stellar-toml.html" class="text-danger font-weight-bold" target="_blank">stellar.toml</a> file.</li>
              </ol>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Issue Token</span></button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endif %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 id="accounts" class="h2">Accounts</h1>
</div>

<div id="accordion" class="p-3">
  {% for account in object.accounts.all %}
  <div class="card mb-2">
    <div class="card-header bg-white" id="heading-{{ forloop.counter0 }}">
      {% if object.id == request.user.id %}
      <a href="{% url 'nc:account-update' account.public_key %}" class="btn btn-sm btn-outline-secondary float-right">
        <span data-feather="edit"></span>
        Edit Account
      </a>
      {% elif is_following %}
      <!-- TODO:
      <a href="#" class="btn btn-sm btn-outline-primary float-right">
        <span data-feather="copy"></span>
        Mirror Assets
      </a>-->
      {% endif %}

      {# TODO: PUT THE MINIMUM BALANCE SOMEWHERE HERE PLUS ASSET LIMITS! #}
      {# TODO: SHOW OUTSTANDING ORDERS! #}

      <div class="d-flex justify-content-start flex-wrap align-items-center mb-0 h5">
        <img class="img-object-fit-cover img-thumbnail"  style="height: 65px; width: 65px;" {% if account.pic %} src="{{ account.pic.url }}"{% endif %} alt="">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapse-{{ forloop.counter0 }}">
          <div class="d-flex flex-column align-items-start justify-content-center">
            <h3 class="mb-0">{% if account.name %}{{ account.name }}{% else %}&nbsp;{% endif %}</h3>
            <small class="mb-1 text-muted">{{ account.public_key|truncatechars:13 }}{{ account.public_key|slice:"-10:" }}</small>
          </div>
        </button>
      </div>
    </div>
    <div id="collapse-{{ forloop.counter0 }}" class="collapse account" aria-labelledby="heading-{{ forloop.counter0 }}" data-parent="#accordion" data-more="#more-{{ forloop.counter0 }}">
      <div class="card-body">
        <strong class="py-1">Public Key:</strong>
        <h6 class="text-secondary w-100 mt-0 pt-0">
          <abbr title="Stellar Account Public Key">{{ account.public_key }}</abbr>
        </h6>

        {% with addresses|get_item:account.public_key as address %}
        <ul class="list-group mt-4">
          <strong class="py-1">Assets</strong>
          {% for asset in address.balances %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              {% with asset|get_item:'asset_type' as asset_type %}
              {% if asset_type == 'native' %}
              <img class="card-img-top rounded-circle mr-2" src="{% static 'nc/images/rocket.png' %}" style="height: 25px; width: 25px;">
              <span>XLM</span>
              {% else %}
              {% with asset|get_item:'asset_code' as asset_code %}
              {% with asset|get_item:'asset_issuer' as asset_issuer %}
              {% with issuers|get_item:asset_issuer as issuer %}
              {% with issuer.user as user %}

              {% with asset_issuer|create_tuple:asset_code as tu %}
              {% with model_assets|get_item:tu as model_asset %}
              {% if model_asset %}
              <img class="card-img-top rounded-circle mr-2" {% if model_asset.pic %}src="{{ model_asset.pic.url }}"{% elif model_asset.toml_pic %}src="{{ model_asset.toml_pic }}"{% endif %} style="height: 25px; width: 25px;">
              {% else %}
              <img class="card-img-top rounded-circle mr-2" style="height: 25px; width: 25px;">
              {% endif %}
              {% endwith %}
              {% endwith %}

              <span>
                {{ asset_code }}
                {% if asset_issuer in issuers %}
                 (Issuer: <a href="{% url 'nc:user-detail' user.username %}">@{{ user.username }}</a>)
                {% else %}
                 (Issuer: {{ asset_issuer|truncatechars:8 }}{{ asset_issuer|slice:"-5:" }})
                {% endif %}
              </span>

              {% endwith %}
              {% endwith %}
              {% endwith %}
              {% endwith %}
              {% endif %}
              {% endwith %}
            </div>
            {% with asset|get_item:'balance' as asset_balance %}
            <strong>{{ asset_balance|intcomma }}</strong>
            {% endwith %}
          </li>
          {% endfor %}
        </ul>
        {% endwith %}

        <ul id="operations-{{ forloop.counter0 }}" class="list-group mt-4" data-parent="#collapse-{{ forloop.counter0 }}">
          <strong class="py-1">Recent Activity</strong>
          <div id="more-container-{{ forloop.counter0 }}">
            <button id="more-{{ forloop.counter0 }}" type="button" class="btn btn-sm btn-link account more" data-parent="#more-container-{{ forloop.counter0 }}" data-public_key="{{ account.public_key }}" data-url="{% url 'nc:account-operation-list' account.public_key %}" data-cursor="" data-has_more="true">More</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if object.id == request.user.id %}
<div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center py-0 mb-3">
  <button type="button" class="btn btn-lg btn-secondary m-2" data-toggle="modal" data-target="#addStellarModal">Add Stellar Account</button>
  <button type="button" class="btn btn-lg btn-primary m-2" data-toggle="modal" data-target="#createStellarModal">Create Stellar Account</button>
</div>

<!-- Add Stellar Account Modal -->
<div class="modal fade" id="addStellarModal" tabindex="-1" role="dialog" aria-labelledby="addStellarModalTitle" aria-hidden="true">
  <form method="POST" id="addStellarModalForm">
    {% csrf_token %}
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStellarModalTitle">Add Stellar Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="pt-1 mb-3 modal-body-header">Please enter your secret key to verify account ownership</h5>
          <div class="input-group">
            <input type="password" name="secret_key" class="form-control" placeholder="Secret Key (example: SBUVRVHRRGNBFYY...)" aria-label="Secret Key">
            <!-- TODO:
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" disabled>
                <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
              </button>
            </div>
          -->
          </div>
          <div class="text-danger mt-4">
            <strong>Security Notes</strong>
            <ul>
              <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
              <li>Nucleo verifies Stellar account ownership by adding a Data Entry to your Stellar account from the browser. Your secret key is used to sign off on this modification to the Stellar ledger.</li>
              <li>This added Data Entry contains a cryptographically signed version of your Nucleo user ID (signed with our server keys).</li>
              <li>Once verified, we associate your Stellar account with your Nucleo profile by storing your Stellar public key.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="signed_user" value="{{ signed_user }}">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Add Account</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Create Stellar Account Modal -->
<div class="modal fade" id="createStellarModal" tabindex="-1" role="dialog" aria-labelledby="createStellarModalTitle" aria-hidden="true">
  <form method="POST" id="createStellarModalForm">
    {% csrf_token %}
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createStellarModalTitle">Create Stellar Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 id="createStellarModalHeader" class="mb-3">
            Account details
          </h5>

          <ul class="list-group">
            <strong class="pb-1 text-secondary">Public Key:</strong>
            <li class="list-group-item">
              <h6 class="text-secondary w-100 my-0 py-0">
                <abbr id="createStellarModalPublicKey" title="Stellar Account Public Key"></abbr>
              </h6>
            </li>
            <strong class="pb-1 pt-3 text-info">Secret Key:</strong>
            <li class="list-group-item">
              <h6 class="text-info w-100 my-0 py-0">
                <abbr id="createStellarModalSecretKey" title="Stellar Account Secret Key"></abbr>
              </h6>
            </li>
          </ul>

          <h6 class="mt-3">
            Please store your <span class="text-info">secret key</span> securely. It will only be shown to you once. Your <span class="text-secondary">public key</span> is safe to share.
          </h6>

          <div class="text-danger mt-4">
            <strong>Security Notes</strong>
            <ul>
              <li><strong>Public Key</strong>:
                The public key identifies your account. It is completely safe to share with others.
              </li>
              <li><strong>Secret Key</strong>:
                The secret key allows you to access/modify your account and make transactions. DO NOT SHARE IT. Anyone with your secret key will have full access to your account and its funds.
              </li>
              <li>We do NOT store your secret key. Your secret key is never sent to our servers.</li>
              <li>If you lose your secret key, you will no longer be able to access your funds. There is no recovery mechanism.</li>
              <li>Nucleo will not be able to help you recover your secret key if it is lost.</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Create Account</span></button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Add Stellar Account Public Key Form -->
<form method="POST" id="addStellarPublicKeyForm" class="d-none" action="{% url 'nc:account-create' %}" data-success="{% url 'nc:user-redirect' %}">
  {% csrf_token %}
  {{ account_form }}
</form>
{% endif %}
{% endblock %}


{% block nc_script %}
<script>
  const IS_CURRENT_USER = {% if object.id == request.user.id %}true{% else %}false{% endif %};
  const STELLAR_DATA_VERIFICATION_KEY = "{{ verification_key }}";
</script>
<script src="{% static 'nc/scripts/ticker.js' %}"></script>
<script src="{% static 'nc/scripts/profile.js' %}"></script>
{% endblock %}
