{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/send.css' %}' />
{% endblock %}

{% block title %}Send | Nucleo{% endblock %}

{% block main %}
<div class="card bg-white rounded box-shadow my-4">
  <div class="card-header d-flex flex-column justify-content-between align-items-start">
    <h5>Send Payment</h5>
    <span class="text-secondary">Search for friends to pay by name, Nucleo profile, or Stellar public key.</span>
  </div>
  <div class="card-body">
    <form id="sendPaymentForm" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label" for="sendToInput">Send To</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-to">To:</span>
          </div>
          <input id="sendToInput" type="text" class="form-control" placeholder="Public key, @username, full name" aria-label="Account Search" aria-describedby="basic-addon-to" autocomplete="off" autocorrect="false" spellcheck="false" type="search">
        </div>
      </div>
      <div class="w-100">
        <div id="sendToDropdown" class="d-none">
          <small class="dropdown-item">Powered by <a class="text-muted" href="https://www.algolia.com/">Algolia</a></small>
          <h6 class="dropdown-header">Accounts</h6>
          <ul class="list-group" id="sendToAccountHits"></ul>
          <div id="sendToAccountPagination"></div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="control-label" for="sendFromInput">Send From</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-from">From:</span>
          </div>
          <input id="sendFromInput" type="password" name="secret_key" class="form-control" placeholder="Your Account Secret Key (example: SBUVRVHRRGNBFYY...)" aria-label="Secret Key" aria-describedby="basic-addon-from">
          <div class="input-group-append">
            <button id="sendFromLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#sendFromInput" data-alert_ref="label[for='sendFromInput']" data-alert_before="true" data-submit_name="Send">
              <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="asset">Asset</label>
        <select class="custom-select" id="assetSelect" name="asset" required="">
          <option value="">Choose...</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid asset.
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="number" name="amount" class="form-control" id="amount" min="0" max="" step="0.0000001" required>
          <div class="input-group-append">
            <span id="amountInputAssetCode" class="input-group-text"></span>
          </div>
        </div>
        <small class="text-muted">Available asset balance: <span id="amountInputAvailable"></span></small>
      </div>
      <hr>
      <div class="form-group">
        <label for="memoTypeSelect">Memo Type</label>
        <select class="custom-select" id="memoTypeSelect" name="memo-type" required="">
          <option>None</option>
          <option data-memo_placeholder="Memo ID number">Memo ID</option>
          <option data-memo_placeholder="Up to 28 bytes of text">Memo Text</option>
          <option data-memo_placeholder="64 character hexadecimal encoded string">Memo Hash</option>
          <option data-memo_placeholder="64 character hexadecimal encoded string">Memo Return</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid asset.
        </div>
      </div>
      <div id="memoContentFormGroup" class="form-group" style="display: none;">
        <label class="control-label" for="memo-content">Memo Content</label>
        <div class="input-group">
          <input id="memoContent" type="text" name="memo-content" class="form-control" placeholder="" aria-label="Memo">
        </div>
        <div class="d-none">
          To account card if it exists in our system. Or just keep the search box there?
        </div>
      </div>
      <div class="form-group mt-4 mb-0">
        <button id="sendPaymentFormReset" type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Send</span></button>
      </div>
    </form>
  </div>
</div>

<!-- Activity Tx Hash Form -->
<form method="POST" id="activityForm" class="d-none" action="{% url 'nc:feed-activity-create' %}">
  {% csrf_token %}
  {{ activity_form }}
</form>
{% endblock %}


{% block nc_script %}
{% verbatim %}
<script type="text/html" id="sendToAccountHitTemplate">
  <a href="?query={{{ public_key }}}" data-public_key="{{{ public_key }}}" class="dropdown-item d-flex flex-wrap justify-content-start align-items-center border-0 py-3">
    <div class="position-relative">
      <img class="img-object-fit-cover img-thumbnail" style="height: 60px; width: 60px;" src="{{{ pic_url }}}" alt="">
      <img class="img-object-fit-cover img-thumbnail position-absolute" style="height: 40px; width: 40px; top: -15px; left: -15px;" src="{{{ user_pic_url }}}" alt="">
    </div>
    <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
      <strong>{{{ _highlightResult.name.value }}}</strong>
      <span class="text-secondary">{{{ _highlightResult.user_full_name.value }}} (@{{{ _highlightResult.username.value }}})</span>
      <small class="text-muted" style="font-size: 0.6em">{{{ _highlightResult.public_key.value }}}</small>
    </div>
  </a>
</script>
<script type="text/html" id="sendToEmptyTemplate">
  <div class="list-group-item d-flex list-group-item-action justify-content-start align-items-center border-left-0 border-right-0 rounded-0">
    No results
  </div>
</script>
{% endverbatim %}

<script src="{% static 'nc/scripts/send.js' %}"></script>
{% endblock %}
