{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}
{% load humanize %}
{% load nc_extras %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/send.css' %}' />
{% endblock %}

{% block title %}Send/Receive Payment | Nucleo{% endblock %}

{% block main %}
<div class="card card-receive mb-4">
  <div class="card-header border-0 d-flex flex-column justify-content-between align-items-start">
    <h5>Your Accounts To Receive Payment</h5>
    <span class="text-secondary">Give your public keys to your friends so they can send you crypto.</span>
  </div>
  <div class="card-body p-0">
    <div class="list-group">
      {% for acc in user.accounts.all %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-inline-flex justify-content-start align-items-center">
          <img class="img-object-fit-cover img-thumbnail rounded flex-auto" style="height: 65px; width: 65px;"{% if acc.pic %} src="{{ acc.pic.url }}"{% else %} src="{% static 'nc/images/account.png' %}"{% endif %} alt="">
          <div class="ml-3 d-flex flex-column flex-wrap align-items-start justify-content-center">
            <strong>{% if acc.name %}{{ acc.name }}{% else %}&nbsp;{% endif %}</strong>
            <div class="font-italic">Public Key:</div>
            <div class="btn-group" role="group">
              <button class="btn btn-light btn-clipboard" title="Copied!" data-toggle="tooltip" data-placement="top" data-trigger="click" data-clipboard-text="{{ acc.public_key }}">
                <span data-feather="copy"></span>
              </button>
              <button value="{{ acc.public_key }}" title="Stellar Account Public Key" class="btn btn-sm btn-light font-weight-bold">
                {{ acc.public_key }}
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="card bg-white rounded box-shadow mb-4">
  <div class="card-header d-flex flex-column justify-content-between align-items-start">
    <h5>Send Payment</h5>
    <span class="text-secondary">Search for friends to pay by name, Nucleo profile, or Stellar public key.</span>
  </div>
  <div class="card-body">
    <form id="sendPaymentForm" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label" for="sendToInput">Send To</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-to">To:</span>
          </div>
          <input id="sendToInput" type="text" class="form-control" placeholder="Public key, @username, full name" aria-label="Account Search" aria-describedby="basic-addon-to" autocomplete="off" autocorrect="false" spellcheck="false" type="search">
        </div>
      </div>
      <div class="w-100">
        <div id="sendToDropdown" class="d-none">
          <small class="dropdown-item">Powered by <a class="text-muted" href="https://www.algolia.com/">Algolia</a></small>
          <h6 class="dropdown-header">Accounts</h6>
          <ul class="list-group" id="sendToAccountHits"></ul>
          <div id="sendToAccountPagination"></div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="control-label" for="sendFromInput">Send From</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-from">From:</span>
          </div>
          <input id="sendFromInput" type="password" name="secret_key" class="form-control" placeholder="Your Account Secret Key (e.x. SBUVRVHRRGNBFYY...)" aria-label="Secret Key" aria-describedby="basic-addon-from">
          <div class="input-group-append">
            <button id="sendFromLedger" class="btn btn-outline-secondary ledger-button" type="button" name="ledger" data-public_key="" data-parent="#sendFromInput" data-alert_ref="label[for='sendFromInput']" data-alert_before="true" data-submit_name="Send">
              <img src="{% static 'nc/images/ledger.png' %}" alt="" width="auto" height="16">
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="asset">Asset</label>
        <select class="custom-select" id="assetSelect" name="asset" required="">
          <option value="">Choose...</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid asset.
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <div class="input-group">
          <input type="number" name="amount" class="form-control" id="amount" min="0" max="" step="0.0000001" required>
          <div class="input-group-append">
            <span id="amountInputAssetCode" class="input-group-text"></span>
          </div>
        </div>
        <small class="text-muted">Available asset balance: <span id="amountInputAvailable"></span></small>
      </div>
      <hr>
      <div id="memoContentFormGroup" class="form-group">
        <label for="memoContent" class="d-flex justify-content-between align-items-end">
          <span>Memo</span>
          <small class="text-muted"><span id="memoByteDisplay"></span>/28</small>
        </label>
        <textarea class="form-control memo-content-text" id="memoContent" name="memo-content" rows="3" placeholder="What's it for?" aria-label="Memo" maxlength="28" required="" data-byte_display="#memoByteDisplay"></textarea>
      </div>
      <div class="form-group mt-4 mb-0">
        <button id="sendPaymentFormReset" type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" data-size="s"><span class="ladda-label">Send</span></button>
      </div>
    </form>
  </div>
</div>

<!-- Activity Tx Hash Form -->
<form method="POST" id="activityForm" class="d-none" action="{% url 'nc:feed-activity-create' %}">
  {% csrf_token %}
  {{ activity_form }}
</form>
{% endblock %}


{% block nc_script %}
{% verbatim %}
<script type="text/html" id="sendToAccountHitTemplate">
  <a href="?query={{{ public_key }}}" data-public_key="{{{ public_key }}}" class="dropdown-item d-flex flex-wrap justify-content-start align-items-center border-0 py-3">
    <div class="position-relative">
      <img class="img-object-fit-cover img-thumbnail" style="height: 60px; width: 60px;" src="{{{ pic_url }}}" alt="">
      <img class="img-object-fit-cover img-thumbnail position-absolute" style="height: 40px; width: 40px; top: -15px; left: -15px;" src="{{{ user_pic_url }}}" alt="">
    </div>
    <div class="ml-2 d-flex flex-column align-items-start justify-content-center">
      <strong>{{{ _highlightResult.name.value }}}</strong>
      <span class="text-secondary">{{{ _highlightResult.user_full_name.value }}} (@{{{ _highlightResult.username.value }}})</span>
      <small class="text-muted" style="font-size: 0.6em">{{{ _highlightResult.public_key.value }}}</small>
    </div>
  </a>
</script>
<script type="text/html" id="sendToEmptyTemplate">
  <div class="list-group-item d-flex list-group-item-action justify-content-start align-items-center border-left-0 border-right-0 rounded-0">
    No results
  </div>
</script>
{% endverbatim %}

<script src="{% static 'nc/scripts/send.js' %}"></script>
<script src="{% static 'nc/scripts/memo.js' %}"></script>
{% endblock %}
