{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
{% endblock %}

{% block title %}Nucleo | Email Confirmation{% endblock %}

{% block content %}

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
<form class="form-signin text-center" method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
  <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  <h1 class="h3 mb-3 font-weight-normal">Email Confirmation</h1>
  <p>{% with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is the e-mail address for user @{{ user_display }}.{% endwith %}</p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm Email</button>
</form>

{% else %}

{% url 'account_email' as email_url %}
<div class="text-center">
  <a href="{% url 'home' %}">
    <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Email Confirmation</h1>
  <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>
</div>

{% endif %}

{% endblock %}


{% block script %}{% endblock %}
