{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
{% endblock %}

{% block title %}Nucleo | Sign out{% endblock %}

{% block content %}
<form class="form-signin text-center" method="POST" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <a href="{% url 'home' %}">
    <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  </a>
  <p>Are you sure you want to sign out?</p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign out</button>
</form>
{% endblock %}


{% block script %}{% endblock %}
