{% extends "nc/base.html" %}
{% load static %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block nc_style %}
<link rel="stylesheet" type="text/css" href='{% static 'nc/profile_settings_update.css' %}' />
{% endblock %}

{% block title %}Nucleo | Change Password{% endblock %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3 border-bottom">
  <h1 class="h2">Change Password</h1>
</div>
<form class="form-update" method="POST" action="{% url 'account_change_password' %}">
  {% csrf_token %}
  {{ password_change_form|bootstrap }}
  <div class="my-4 pt-3 border-top">
    <a href="{% url 'nc:user-settings-redirect' %}" class="btn btn-secondary m-1">Cancel</a>
    <button class="btn btn-primary m-1" type="submit">Change Password</button>
  </div>
</form>
{% endblock %}


{% block nc_script %}
{% endblock %}
