{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
{% endblock %}

{% block title %}Nucleo | Password Reset{% endblock %}


{% block content %}
<div class="text-center">
  <a href="{% url 'home' %}">
    <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
  <p>We have sent you an e-mail. Please <a href="mailto:hello@nucleo.fi">contact us</a> if you do not receive it within a few minutes.</p>
</div>
{% endblock %}


{% block script %}{% endblock %}
