{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
<link rel="stylesheet" type="text/css" href='{% static 'account/password_reset_from_key.css' %}' />
{% endblock %}

{% block title %}Nucleo | Change Password{% endblock %}


{% block content %}
<form class="form-signin text-center" method="POST" action="{{ action_url }}">
  {% csrf_token %}
  <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  <h1 class="h3 mb-3 font-weight-normal">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
  {% if token_fail %}
  <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
  {% else %}
  {% if form %}
  {{ form|bootstrap_inline }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
  {% else %}
  <p>Your password has been changed. <a href="{% url 'account_login' %}">Log in</a>.</p>
  {% endif %}
  {% endif %}
</form>
{% endblock %}


{% block script %}{% endblock %}
