{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
{% endblock %}

{% block title %}Change Password | Nucleo{% endblock %}


{% block content %}
<div class="text-center">
  <a href="{% url 'home' %}">
    <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  </a>
  <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
  <p>Your password has been changed. <a href="{% url 'account_login' %}">Log in</a></p>
</div>
{% endblock %}


{% block script %}{% endblock %}
