{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}

{% block head %}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href='{% static 'account/base.css' %}' />
<link rel="stylesheet" type="text/css" href='{% static 'account/signup.css' %}' />
{% endblock %}

{% block title %}Nucleo | Sign up{% endblock %}


{% block content %}
<form class="form-signin text-center" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <img class="mb-4" src="{% static 'nc/images/logo.png' %}" alt="" width="auto" height="80">
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
  {{ form|bootstrap_inline }}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <p class="mt-5 mb-3">Have an account? <a href="{% url 'account_login' %}">Log in</a></p>
</form>
{% endblock %}


{% block script %}{% endblock %}
