container_commands:
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_createsuperuser:
    command: "python manage.py createsuperuser"
    leader_only: true
  05_algolia_reindex:
    command: "python manage.py algolia_reindex"
    leader_only: true
  06_create_user_relatives:
    command: "python manage.py create_user_relatives"
    leader_only: true
  07_fetch_assets:
    command: "python manage.py fetch_assets"
    leader_only: true
  08_update_assets_from_tomls:
    command: "python manage.py update_assets_from_tomls"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: nucleo/wsgi.py
