packages:
  rpm:
    epel: http://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
  yum:
    postgresql95-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
    libcurl-devel: []
    libffi-devel: []
    file-devel: []

commands:
  01_setuptools_install:
    command: './pip install -U pip setuptools'
    cwd: /opt/python/run/venv/bin
