.card {
    overflow: hidden;
}
.card-body {
    word-wrap: break-word;
}

.card-receive .list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.modal-body abbr {
  word-wrap: break-word;
}
