.card {
    overflow: hidden;
}
.card-body {
    word-wrap: break-word;
}

.modal-body abbr {
  word-wrap: break-word;
}

.nav-trade.nav-pills > a.nav-link {
  color: var(--dark);
}

.nav-trade.nav-pills > a.nav-link:hover, .nav-trade.nav-pills > a.nav-link:focus {
  color: var(--gray);
}

.nav-trade.nav-pills > a.active, .nav-trade.nav-pills > a.active:hover, .nav-trade.nav-pills > a.active:focus {
  background-color: var(--dark);
  color: var(--dark);
  color: white;
}
